<div>
    <span class="tarif"><b>Tarif Accompagnement</b> <span style="font-size: 10px">(net de taxe)</span></span>
    <span class="tarifMontant"><b>{{ montantTotal ~" " }}</b><span>&euro;</span></span>
</div><br>
<div>
    <div class="widget_financeur">
        {{ form_widget(edit_form_a.financeur) }}
    </div>
</div>

{% if beneficiaire.accompagnement is not null %}
        <tr>
            <td>Accompagnement en Heures :</td>
            <td class="inputAccompagnement">{{ form_widget(edit_form_a.heure, { 'attr': {'value': beneficiaire.accompagnement.heure }} ) }} Heures</td>
        </tr>
{% else %}
        <tr>
            <td>Accompagnement en Heures :</td>
            <td class="inputAccompagnement">{{ form_widget(edit_form_a.heure) }} Heures</td>
        </tr>
{% endif %}
        <tr>
            <td></td>
        </tr>
        <tr>
            <td colspan="3">Date prévue accompagnement :
                {{ form_widget(edit_form_a.proposition_heure, { 'attr': {'value': heure }} ) }}
                {{ form_widget(edit_form_a.proposition_dateDebut, { 'attr': {'value': dateDebut }} ) }}
                {{ form_widget(edit_form_a.proposition_dateFin, { 'attr': {'value': dateFin }} ) }}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="display: -webkit-box;"><span>Du :&nbsp;</span>{{ form_widget(edit_form_a.dateDebut) }} <span>&nbsp;Au :&nbsp;</span>{{ form_widget(edit_form_a.dateFin) }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <a id="proposition_pdf" style="float:right; width: 115px; padding: 6px" class="btn btn-info" href="{{ path('application_new_devis_pdf', { 'id' : beneficiaire.id }) }}" target="_blank" >Générer Devis</a>
            </td>
            <td colspan="2" class="valider">{{ form_widget(edit_form_a.submit) }}</td>
        </tr>
        <tr class="form-rest">
            <td>{{ form_rest(edit_form_a) }}</td>
            <td>{{ form_errors(edit_form_a) }}</td>
        </tr>