{% if beneficiaire.accompagnement is not null %}
        <tr>
            <td>Nom OPCA/OPACIF</td>
            <td>{{ form_widget(edit_form_a.opcaOpacif,   { 'attr': {'value': beneficiaire.accompagnement.opcaOpacif }} ) }}</td>
        </tr>
        <tr>
            <td>Accompagnement en Heures :</td>
            <td class="inputAccompagnement">{{ form_widget(edit_form_a.heure, { 'attr': {'value': beneficiaire.accompagnement.heure }} ) }} Heures</td>
        </tr>
        <tr>
            <td>Tarif Accompagnement</td>
            <td class="inputAccompagnement">{{ form_widget(edit_form_a.tarif, { 'attr': {'value': beneficiaire.accompagnement.tarif }} ) }} <span>&euro;</span></td>
        </tr>
{% else %}
        <tr>
            <td>Nom OPCA/OPACIF</td>
            <td>{{ form_widget(edit_form_a.opcaOpacif) }}</td>
        </tr>
        <tr>
            <td>Accompagnement en Heures :</td>
            <td class="inputAccompagnement">{{ form_widget(edit_form_a.heure) }} Heures</td>
        </tr>
        <tr>
            <td>Tarif Accompagnement</td>
            <td class="inputAccompagnement">{{ form_widget(edit_form_a.tarif) }} <span>&euro;</span></td>
        </tr>
{% endif %}
{% if beneficiaire.consultant is not null %}
        <tr>
            <td>Consulant :</td>
            <td>{{ beneficiaire.consultant.prenom~" "~beneficiaire.consultant.nom|capitalize }}</td>
        </tr>
        <tr>
            <td><button type="button"  data-toggle="modal" data-target="#myModal">Modifier le consultant</button></td>
        </tr>
{% else %}
        <tr>
            <td>Consulant :</td>
            <td>Pas encore de consultant assigné</td>
        </tr>
        <tr>
            <td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Ajouter un consultant</button></td>
        </tr>
{% endif %}
        <div id="formulaireConsultant"></div>
        <tr>
            <td class="tableSection"><a href="#"></a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">Date prévue accompagnement :</td>
        </tr>
        <tr>
            <td colspan="3" style="display: -webkit-box;"><span>Du :&nbsp;</span>{{ form_widget(edit_form_a.dateDebut) }} <span>&nbsp;Au :&nbsp;</span>{{ form_widget(edit_form_a.dateFin) }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="tableSection">Détail du Financement</td>
        </tr>
        <tr>
            <td>//A FAIRE</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2" class="valider">{{ form_widget(edit_form_a.submit) }}</td>
        </tr>
        <tr class="form-rest">
            <td>{{ form_rest(edit_form_a) }}</td>
            <td>{{ form_errors(edit_form_a) }}</td>
        </tr>
