{% extends "ApplicationPlateformeBundle::layout.html.twig" %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <div class="container-fluid blocagendaprincipal">
        {% if app.request.session.get("erreurs") is defined and  app.request.session.get("erreurs") == true %}
            <div class="row">
                <div class="col-mg-12">
                    <div class="alert alert-danger msg-errors" role="alert">
                        <strong>Oops! </strong> <span>ce creneau est dejà occupé</span>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if app.request.session.get("errorsdate") is defined and  app.request.session.get("errorsdate") == true %}
        <div class="row">
           <div class="col-mg-12">
               <div class="alert alert-danger msg-errors" role="alert">
                 <strong>Oops! </strong><span>La date et l'heure selectionnées sont dejà passées </span><span style='color:blue;'>{{app.request.session.get("heuredate")}}</span>
               </div>
           </div>
        </div>
        {% endif %}

        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL')) and app.request.query.get('userid')is null %}
            {# bloc Agenda pour Admin ou autres #}
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" class="color_agenda_admin" value="{{couleurs}}">
                    <div class="colorcalendar"></div>
                    <div class="blocconsultant">
                        <span>Voir l'agenda du consultant: </span>
                        <select name="consultantC" id="consultantC" class="selectpicker" style="height: 32px;">
                            <option value="">Selectionnez</option>
                            {% for user in consultant %}
                                <option id="{{user.id~'-'~user.calendrierid}}" value="{{user.calendrieruri}}" onClick="verification({{user.email}})">{{user.nom~' '~user.prenom}}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" class="consultantcalendrierid">
                    </div>
                    <div id="nomconsultant">
                        <span class="nomconsultant">Agenda du consultant </span>
                        <span class="nomconsultant nameconsultant" style="color: #668cd9;"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="blocacalendar"></div>
                </div>
                <div class="col-md-3">
                    <div class="bloc_form_agenda">
                        <form method="POST" class="formPagenda" id="agendaForm" action="{{ path('application_plateforme_agenda_evenement') }}" >
                            <center><label class="title_formulaire_agenda">Ajouter un Rendez-vous</label></center>
                            <div class="champs-form">
                                <!-- champs supplementaires ajoutés statiquements -->
                                <table style="width: 100%;" border="0">
                                    <tr>
                                        <th><label>Nom beneficiare</label></th>
                                        <th><label>Prenom beneficiare</label></th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="nomb" id="nomb" class="form-control new_input" required></td>
                                        <td><input type="text" name="prenomb" id="prenomb" disabled="true" class="form-control new_input" required></td>
                                    </tr>
                                    <tr>
                                        <td colspan=2>
                                            <input type="hidden" name="prenombeneficiaire" id="prenombe" class="form-control new_input" required>
                                            <input type="hidden" name="idbeneficiaire" id="idbeneficiaire" value="-1" class="form-control new_input">
                                        </td>
                                    </tr>
                                </table>
                                <!-- Type de Rendez-vous [presentiel ou distanciel] -->
                                <label>Type de Rendez-vous: </label>
                                <p class="trdv">
                                    <input type="radio" name="typeRdv" class="typerdv" id="rdvpresentiel" checked="true" value="presenciel"><span style="margin-left:2%;">Presenciel</span>
                                    <input type="radio" name="typeRdv" class="typerdv" id="rdvdistentiel" value="distanciel"><span style="margin-left:2%;">Distanciel</span>
                                </p>
                                <div class="bureau_v">
                                    <label>Ville</label>
                                    <input type="text" id="dpttest" name="dpttest" maxlength="2" class="form-control new_input" placeholder="Taper le numero de departement" required>
                                    <label>Bureau</label>
                                    <input name="bureauRdv" id="bureauRdv" class="form-control new_input" disabled="true">
                                    <input type="hidden" name="bureauselect" class="form-control new_input bureauselect" value="-1">
                                    <input type="hidden" name="namebureauselect" class="form-control new_input namebureauselect">
                                    <input type="hidden" name="villeh" id="villeh" class="form-control new_input ville">
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <th><label>Adresse</label></th>
                                            <th><label>Code postal</label></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="adresse" id="adresse" class="form-control new_input" disabled="true">
                                                <input type="hidden" name="adresseh" id="adresseh" class="form-control new_input adresse">
                                            </td>
                                            <td>
                                                <input type="text" name="zip" id="zip" class="form-control new_input" disabled="true">
                                                <input type="hidden" name="ziph" id="ziph" class="form-control new_input zip">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <!-- formulaire historique -->
                                    <p>
                                        <span>Titre evenement</span>
                                        {{form_widget(form.summary)}}
                                    </p>
                                    <p>
                                        <span>Description evenement</span>
                                        {{form_widget(form.description)}}
                                    </p>
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <th colspan=2><span>Date</span></th>
                                        </tr>
                                        <tr>
                                            <td colspan=2>
                                                {{form_widget(form.dateDebut)}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="height:31px;" valign="bottom"><span>Heure debut</span></th>
                                            <th valign="bottom"><span>Heure fin</span></th>
                                        </tr>
                                        <tr>
                                            <td>{{form_widget(form.heureDebut)}}</td>
                                            <td>{{form_widget(form.heureFin)}}</td>
                                        </tr>
                                    </table>
                                    {{form_widget(form.dateFin)}}
                                    {{ form_widget(form.typerdv) }}
                                    <div style="margin-top:32px;">
                                        {{form_widget(form.Enregistrer)}}
                                    </div>
                                    <div>
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% elseif is_granted('ROLE_CONSULTANT') or ( (is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL')) and app.request.query.get('userid')is not null ) %}
            {# bloc Agenda pour consultant ou pour les admin qui vont dans l'agenda d'un consultant mais via la fiche bénéficiaire ou le bouton aganda lié au bénéficiaire sur le tableau en home#}
            <input class="calendrierconsultant" type="hidden" value="{{consultant.calendrieruri}}">
            <input type="hidden" class="consultantcalendrierid" value="{{consultant.id}}">
            {# Dans le cas où l'admin à pris l'agenda d'un bénéficiaire sur la home ou sur la fiche bénéficiaire #}
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_COMMERCIAL") %}
                <div class="row">
                    <div class="col-md-12">
                        <div id="nomconsultant" style="display:block !important">
                            <span class="nomconsultant">Agenda du consultant </span>
                            <span class="nomconsultant" style="color: #668cd9;">{{consultant.nom~' '~consultant.prenom}}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            
            <div class="row">
                <div class="col-md-9">
                    <div class="blocacalendar"></div>
                </div>
                <div class="col-md-3">
                    <div class="bloc_form_agenda">
                        <form method="POST" class="formPagenda" id="agendaForm" action="{{ path('application_plateforme_agenda_evenement', {'userId':consultant.id, 'calendrierid':consultant.calendrierid}) }}" >
                            <center><label class="title_formulaire_agenda">Ajouter un Rendez-vous</label></center>
                            <div class="champs-form">
                                <!-- champs supplementaires ajoutés statiquements -->
                                <table style="width: 100%;" border="0">
                                    <tr>
                                        <th><label>Nom beneficiare</label></th>
                                        <th><label>Prenom beneficiare</label></th>
                                    </tr>
                                    
                                    <tr>
                                        {% if beneficiaire is defined and beneficiaire is not null %}
                                            <td><input type="text" name="nomb" id="nomb" class="form-control new_input" required  disabled value="{{ beneficiaire.nomConso }}"></td>
                                            <td><input type="text" name="prenomb" id="prenomb" disabled="true" class="form-control new_input" required disabled value="{{ beneficiaire.prenomConso }}"></td>
                                        {% else %}
                                            <td><input type="text" name="nomb" id="nomb" class="form-control new_input" required ></td>
                                            <td><input type="text" name="prenomb" id="prenomb" disabled="true" class="form-control new_input" required></td>
                                        {% endif %} 
                                    </tr>
                                    <tr>
                                        <td colspan=2>
                                            {% if beneficiaire is defined and beneficiaire is not null %}
                                                <input type="hidden" name="prenombeneficiaire" id="prenombe" class="form-control new_input" required value="{{ beneficiaire.prenomConso }}">
                                                <input type="hidden" name="idbeneficiaire" id="idbeneficiaire" value="{{ beneficiaire.id }}" class="form-control new_input">
                                            {% else %}
                                                <input type="hidden" name="prenombeneficiaire" id="prenombe" class="form-control new_input" required>
                                                <input type="hidden" name="idbeneficiaire" id="idbeneficiaire" value="-1" class="form-control new_input">
                                            {% endif %} 
                                        </td>
                                    </tr>
                                </table>
                                <!-- Type de Rendez-vous [presentiel ou distanciel] -->
                                <label>Type de Rendez-vous: </label>
                                <p class="trdv">
                                    <input type="radio" name="typeRdv" class="typerdv" id="rdvpresentiel" class="rdvpresentiel" checked="true" value="presenciel"><span style="margin-left:2%;">Presenciel</span>
                                    <input type="radio" name="typeRdv" class="typerdv" id="rdvdistentiel" class="rdvdistentiel" value="distanciel"><span style="margin-left:2%;">Distanciel</span>
                                </p>
                                <div class="bureau_v">
                                    <label>Ville</label>
                                    <input type="text" id="dpttest" name="dpttest" maxlength=2 class="form-control new_input" placeholder="Taper le numero de departement" required>
                                    <label>Bureau</label>
                                    <input name="bureauRdv" id="bureauRdv" class="form-control new_input" disabled="true">
                                    <input type="hidden" name="bureauselect" class="form-control new_input bureauselect" value="-1">
                                    <input type="hidden" name="namebureauselect" class="form-control new_input namebureauselect">
                                    <input type="hidden" name="villeh" id="villeh" class="form-control new_input ville">
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <th><label>Adresse</label></th>
                                            <th><label>Code postal</label></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="adresse" id="adresse" class="form-control new_input" disabled="true">
                                                <input type="hidden" name="adresseh" id="adresseh" class="form-control new_input adresse">
                                            </td>
                                            <td>
                                                <input type="text" name="zip" id="zip" class="form-control new_input" disabled="true">
                                                <input type="hidden" name="ziph" id="ziph" class="form-control new_input zip">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <!-- formulaire historique -->
                                    <p>
                                        <span>Titre evenement</span>
                                        {{form_widget(form.summary)}}
                                    </p>
                                    <p>
                                        <span>Description evenement</span>
                                        {{form_widget(form.description)}}
                                    </p>
                                    <table style="width: 100%;" border="0">
                                        <tr>
                                            <th colspan=2><span>Date</span></th>
                                        </tr>
                                        <tr>
                                            <td colspan=2>
                                                {{form_widget(form.dateDebut)}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="height:31px;" valign="bottom"><span>Heure debut</span></th>
                                            <th valign="bottom"><span>Heure fin</span></th>
                                        </tr>
                                        <tr>
                                            <td>{{form_widget(form.heureDebut)}}</td>
                                            <td>{{form_widget(form.heureFin)}}</td>
                                        </tr>
                                    </table>
                                    {{ form_widget(form.typerdv) }}
                                    <div style="margin-top:32px;">
                                        {{form_widget(form.Enregistrer)}}
                                    </div>
                                    <div>
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

