<div class="modal-body">
    <div>
        <div>
            <span>{{ form_label(edit_form.statut) }}</span>
            <span colspan="3">{{ form_widget(edit_form.statut, {'attr' : {'class': 'statutSuiviAd'}}) }}</span>
        </div>
        <div>
            <span>{{ form_label(edit_form.detailStatut) }}</span><div style="display:none" class="block_info_chargement"><img class="img_loading" src="{{ asset('images/ajax-loader.gif') }}" /> <span class="message_chargement text-info"><i>Chargement de la liste</i></span></div>
            <span colspan="3">{{ form_widget(edit_form.detailStatut, {'attr' : {'class': 'detailStatutSuiviAd'}}) }}</span>
        </div>
        <div>
            <span>{{ form_label(edit_form.qui) }}</span>
            <span colspan="3">{{ form_widget(edit_form.qui) }}</span>
        </div>
    </div>
</div>
<div class="modal-footer">
        <div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            {{ form_widget(edit_form.submit, {'attr': {'class' : 'btn btn-primary'}}) }}
        </div>
        <div>
            {{ form_rest(edit_form) }}
            {{ form_errors(edit_form) }}
        </div>
</div>

