{% set onOff = "" %}
{% if (beneficiaire.accompagnement.heure is null or beneficiaire.accompagnement.heure == '0' or beneficiaire.accompagnement.heure == '') or beneficiaire.accompagnement.dateDebut is null or beneficiaire.accompagnement.dateFin is null or beneficiaire.typeFinanceur is null or beneficiaire.consultant is null %}
    {% set onOff = "disabled" %}
{% endif %}
<div class="row" style="margin-top: 45px;">
    <p style="font-weight: bold;color: #50a60d;font-size: 13px;margin-bottom: 10px;margin-top: 4px;" class="col-xs-4">Facture Financeur : </p>
    <div class="blockGenerationFacturePaiement col-xs-3"><button type="button" {{ onOff }} style="color:black;cursor:pointer;font-weight:normal;font-size:13px;padding:3px 10px;"  class="btn btn-default {{ onOff }}" data-toggle="modal" data-target="#facturation" title="Générer facture">Nouvelle facture</button></div>
</div>

<p class="disabledFacturationGeneration" style="display:none;background-color: white; padding: 14px; width: 343px;margin:auto;margin-bottom:15px">
    <span style="color:red; font-weight:bold">IMPORTANT</span><br>
    Pour générer une facture, renseigner les champs suivants : <br> - <b>Consultant</b><br>- <b>Type financeur</b><br>- <b>Accompagnement en heures</b><br>- <b>Date prévu accompagnement</b>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">N° facture</th>
            <th scope="col">Financeur</th>
            <th scope="col">Montant</th>
            <th scope="col">Etat</th>
            <th scope="col">Statut</th>
        </tr>
    </thead>

    <tbody>
    {% for facture in factures | reverse %}
        {% set nomFinanceur = facture.financeur | split(' |') %}
        {% if facture.ouvert == true %}
            {% set etat = 'Ouvert' %}
        {% else %}
            {% set etat = 'Fermé' %}
        {% endif %}

        {% if facture.statut == 'partiel' %}
            {% set style = 'color:#fbc714' %}
        {% elseif facture.statut == 'paid' %}
            {% set style = 'color:#1ada27' %}
        {% elseif facture.statut == 'error' or facture.statut == 'sent' %}
            {% set style = 'color:red' %}
        {% else %}
            {% set style = 'color:black' %}
        {% endif %}

        <tr>
            <td style="margin-left:0;display:block;">{{ facture.date | date("d/m/Y") }}</td>
            <td><a style="color:#337ab7;font-style: italic" href="{{ path("application_show_facture", {'numero' : facture.numero }) }}" title="Afficher facture" target="_blank">{{ facture.numero }}</a></td>
            <td>{{ nomFinanceur[0] }}</td>
            <td>{{ facture.montant }} €</td>
            <td>{{ etat }}</td>
            <td style="{{ style }}" id="statut_paiement_facture_{{ facture.id }}" class="statut_paiement_facture" >{{ facture.statut | capitalize }}</td>
        </tr>

        {% if facture.historiquesPaiement | length > 0 %}
            <aside id="block_historique_paiement_facture_{{ facture.id }}" class="block_historique_paiement_facture" style="background-color: #ecececf5;padding: 4px 10px 10px 10px;width: 80%;margin: auto;border-radius: 2px;margin-bottom: 19px;position: absolute;z-index:1;left:25px;display:none;cursor:pointer !important">
                <h5 style="text-align:center;color:#428bca;margin-bottom: 16px;">Historique des réglements</h5>
                {% for historique in facture.historiquesPaiement | reverse %}
                    <p style="font-size:11px;line-height: 4px;"> - Le {{ historique.dateHeure | date ('d/m/Y') }} à {{ historique.dateHeure | date ('H:i')}} : </p>
                    <p style="font-size:13px;line-height: 8px;margin-left: 14px;"><b>{{ historique.statut | capitalize }}</b> / <b>{{ historique.modePaiement | capitalize }}</b> le <b>{{ (historique.datePaiement is not null) ? historique.datePaiement| date('d/m/Y') : 'N.C.'  }}</b> / <b>{{ historique.montant }}</b> €</p>
                    <span class="commentaire" style="display: block;margin-top: -10px;margin-left: 14px;font-size: 11px;color: #891c1c;margin-bottom: 10px;font-style: italic;">
                        {{ historique.commentaire }}
                    </span>
                {% endfor %}
            </aside>
        {% endif %}

    {% endfor %}
    </tbody>
</table>



{{ render(controller("ApplicationPlateformeBundle:Facture:create", {'id': beneficiaire.id} )) }}