{% set onOff = "" %}
{% if (beneficiaire.accompagnement.heure is null or beneficiaire.accompagnement.heure == '0' or beneficiaire.accompagnement.heure == '') or beneficiaire.accompagnement.dateDebut is null or beneficiaire.accompagnement.dateFin is null or beneficiaire.typeFinanceur is null or beneficiaire.consultant is null %}
    {% set onOff = "disabled" %}
{% endif %}
<p style="font-weight: bold;color: #50a60d;font-size: 13px;margin-bottom: 10px;margin-top: 17px;">Facture Financeur : <a {{ onOff }} style="color:black;cursor:pointer;font-weight:normal"  class="blockGenerationFacturePaiement" data-toggle="modal" data-target="#facturation" title="Générer facture">Nouvelle facture</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">N° facture</th>
            <th scope="col">Financeur</th>
            <th scope="col">Montant</th>
            <th scope="col">Etat</th>
            <th scope="col">Statut</th>
        </tr>
    </thead>

    <tbody>
    {% for facture in factures | reverse %}
        {% set nomFinanceur = facture.financeur | split(' |') %}
        {% if facture.ouvert == true %}
            {% set etat = 'Ouvert' %}
        {% else %}
            {% set etat = 'Fermé' %}
        {% endif %}

        {% if facture.statut == 'partiel' %}
            {% set style = 'color:#fbc714' %}
        {% elseif facture.statut == 'paid' %}
            {% set style = 'color:#1ada27' %}
        {% elseif facture.statut == 'error' or facture.statut == 'sent' %}
            {% set style = 'color:red' %}
        {% else %}
            {% set style = 'color:black' %}
        {% endif %}

        <tr>
            <td style="margin-left:0;display:block;">{{ facture.date | date("d/m/Y") }}</td>
            <td><a style="color:#337ab7;font-style: italic" href="{{ path("application_show_facture", {'numero' : facture.numero }) }}" title="Afficher facture" target="_blank">{{ facture.numero }}</a></td>
            <td>{{ nomFinanceur[0] }}</td>
            <td>{{ facture.montant }} €</td>
            <td>{{ etat }}</td>
            <td style="{{ style }}">{{ facture.statut | capitalize }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>















<p class="disabledFacturationGeneration" style="display:none;background-color: white; padding: 14px; width: 343px;margin:auto;margin-bottom:15px">
    <span style="color:red; font-weight:bold">IMPORTANT</span><br>
    Pour générer une facture, renseigner les champs suivants : <br> - <b>Consultant</b><br>- <b>Type financeur</b><br>- <b>Accompagnement en heures</b><br>- <b>Date prévu accompagnement</b>
</p>

{{ render(controller("ApplicationPlateformeBundle:Facture:create", {'id': beneficiaire.id} )) }}