<form method="POST" id="suiviAdministratifNewForm" class="suiviAdministratifForm" action="{{ path('application_new_suivi_administratif', { 'id' : beneficiaire.id }) }}" >
    <p style="font-weight: bold;color: #50a60d;font-size: 13px;">Ajout d'un suivi administratif : </p>
    <div class="row">
        <span class="col-xs-2">{{ form_label(form.statut) }}</span>
        <span class="col-xs-3" colspan="3">{{ form_widget(form.statut, {'attr' : {'class': 'suivi statutSuiviAd'}}) }}</span>
        
        <span class="col-xs-3">{{ form_label(form.detailStatut) }}</span><div style="display:none" class="block_info_chargement"><img class="img_loading" src="{{ asset('images/ajax-loader.gif') }}" /> <span class="message_chargement text-info"><i>Chargement de la liste</i></span></div>
        <span class="col-xs-4" colspan="3">{{ form_widget(form.detailStatut, {'attr' : {'class': 'suivi detailStatutSuiviAd', 'disabled':'disabled'}}) }}</span>
    </div>
    
    <p style="font-weight: bold;color: #50a60d;font-size: 13px;">Info suivi : </p>
    <div class="row">
        <span class="col-xs-6" colspan="3">{{ form_widget(form.info) }}</span>
    </div>
    <div>
        <span class="valider">{{ form_widget(form.submit) }}</span>
    </div>
    <div  class="form-rest">
        <span>{{ form_rest(form) }}</span>
        <span>{{ form_errors(form) }}</span>
    </div>
</form>