<form method="POST" id="suiviAdministratifNewForm" class="suiviAdministratifForm container-fluid"
      action="{{ path('application_new_suivi_administratif', { 'id' : beneficiaire.id }) }}">

    <div class="row mt-10">
        <div class="col-md-12 bold green">Information de suivi : </div>
    </div>
    <div class="row">
        <div class="col-xs-6">{{ form_widget(form.info) }}</div>
    </div>

    <div class="row mt-10">
        <div class="col-md-12 bold green"> Contact Financeur :</div>
    </div>
    <div id="contact_financeur" class="row">
        <div class="form-group mt-10 col-md-12 mb-0">
            <label class="col-md-4">Type Financeur</label>
            <div class="col-md-8">{{ form_widget(form.typeFinanceur, {'attr' : {'value': beneficiaire.typeFinanceur }}) }}</div>
        </div>
        <div class="form-group col-md-12 mb-0" id="tdElement" style="display: none">
            <label class="col-md-4" for="">Organisme</label>
            <div class="col-md-8">{{ form_widget(form.organisme, {'id': 'organisme', 'attr': { 'value': beneficiaire.organisme}}) }}</div>
        </div>

        <div id="financeur_information">
            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4 mt-10" for="adresseFinanceur">Adresse</label>
                <div class="col-md-8 mt-10">{{ form_widget(form.adresseFinanceur, {'attr' : {'value': beneficiaire.accompagnement.financeur[0].adresse }}) }}</div>
            </div>
            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4" for="">Complément</label>
                <div class="col-md-8">{{ form_widget(form.complementAdresseFinanceur, {'attr' : {'value': beneficiaire.accompagnement.financeur[0].complementAdresse }}) }}</div>
            </div>

            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4" for="">Code Postal</label>
                <div class="col-md-8">{{ form_widget(form.cpFinanceur, {'attr' : {'value': beneficiaire.accompagnement.financeur[0].cp }}) }}</div>
            </div>
            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4" for="">Ville</label>
                <div class="col-md-8">{{ form_widget(form.villeFinanceur, {'attr' : {'value': beneficiaire.accompagnement.financeur[0].ville }}) }}</div>
            </div>

            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4 mt-10" for="">Civilité</label>
                <div class="col-md-8 mt-10">{{ form_widget(form.civiliteContactFinanceur, {'value': beneficiaire.accompagnement.financeur[0].civiliteContact }) }}</div>
            </div>
            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4" for="">Nom</label>
                <div class="col-md-8">{{ form_widget(form.nomContactFinanceur, {'attr' : {'value': beneficiaire.accompagnement.financeur[0].nomContact }}) }}</div>
            </div>
            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4" for="">Prenom</label>
                <div class="col-md-8">{{ form_widget(form.prenomContactFinanceur, {'attr' : {'value': beneficiaire.accompagnement.financeur[0].prenomContact }}) }}</div>
            </div>

            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4" for="">Email</label>
                <div class="col-md-8">{{ form_widget(form.emailContactFinanceur, {'attr' : {'value': beneficiaire.accompagnement.financeur[0].emailContact }}) }}</div>
            </div>
            <div class="form-group col-md-12 mb-0">
                <label class="col-md-4" for="">Téléphone</label>
                <div class="col-md-8">{{ form_widget(form.telContactFinanceur, {'attr' : {'value': beneficiaire.accompagnement.financeur[0].telContact }}) }}</div>
            </div>
        </div>
    </div>
    <div class="mt-10" style="font-weight: bold;color: #50a60d;font-size: 13px;margin-top: 10px">Mofidier le Statut Administratif : </div>

    <div class="row">
        <span class="col-xs-2">{{ form_label(form.statut) }}</span>


        {% if beneficiaire.lastdetailStatutAdmin.statut.type != 'commercial' %}
            <span class="col-xs-3">{{ form_widget(form.statut, {'attr' : {'class': 'suivi statutSuiviAd', 'data-value' : beneficiaire.lastdetailStatutAdmin.statut.id }}) }}</span>
        {% else %}
            <span class="col-xs-3">{{ form_widget(form.statut, {'attr' : {'class': 'suivi statutSuiviAd'}}) }}</span>
        {% endif %}
        <span class="col-xs-3">{{ form_label(form.detailStatut) }}</span>
        <div style="display:none" class="block_info_chargement"><img class="img_loading"
                                                                     src="{{ asset('images/ajax-loader.gif') }}"/> <span
                    class="message_chargement text-info"><i>Chargement de la liste</i></span></div>

        {% if beneficiaire.lastdetailStatutAdmin.statut.type != 'commercial' %}
            <span class="col-xs-4">{{ form_widget(form.detailStatut, {'attr' : {'class': 'suivi detailStatutSuiviAd',  'data-value' : beneficiaire.lastdetailStatutAdmin.id }}) }}</span>
        {% else %}
            <span class="col-xs-4">{{ form_widget(form.detailStatut, {'attr' : {'class': 'suivi detailStatutSuiviAd', 'disabled':'disabled'}}) }}</span>
        {% endif %}
    </div>

    {% set display = (mission is null) ? 'block' : 'none' %}
    {% set displayMission = ( afficher == 'true' ) ? 'block' : 'none' %}
    <div style="display: {{ displayMission }}" class="row" data-afficher="{{ afficher }}"
         data-autorisation="{{ autorisation }}" id="add_mission_tarif">
        <p style="font-weight: bold;color: #50a60d;font-size: 13px;margin-top:11px;margin-left: 15px">Mission : <span
                    id="state_mission"><b style="color: black">({{ stateMission }})</b></span></p>
        <div style="display: {{ (mission is null) ? 'block' : 'none' }}" class="col-md-12">
            <span id="link_add_mission" class="link-mission">Envoyer contrat</span>
        </div>
        <div style="display: {{ (mission is null) ? 'none' : 'block' }}" id="tarif_mission" class="row col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-2">{{ form_label(form.tarif) }}</div>
                    <div class="col-xs-3 input-group">
                        {% set montant = (mission is null) ? null : mission.tarif %}
                        {{ form_widget(form.tarif, {'attr': {'value': montant }}) }}
                        <span class="input-group-addon" id="basic-addon2">€</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="link_client_modify_delete">
                        <span class="link-mission" id="link_mission_modify">Modifier</span>
                        {% if mission is null %}
                            <span class="link-mission" id="link_mission_delete">Supprimer</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-10">
        <span class="valider">{{ form_widget(form.submit) }}</span>
    </div>
    <div class="form-rest">
        <span>{{ form_rest(form) }}</span>
        <span>{{ form_errors(form) }}</span>
    </div>
</form>

{#modal tarif#}
{% if beneficiaire.consultant is not null %}
    <div>
        <div id="ModalTarif" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Proposer une nouvelle mission
                            à {{ beneficiaire.consultant.prenom|capitalize~" "~beneficiaire.consultant.nom|upper }}</h4>
                    </div>
                    <div class="modal-body">
                        <label class="col-xs-2" for="input_tarif_modal">Tarif (€)</label>
                        <div class="col-xs-3 input-group">
                            <input type="number" id="input_tarif_modal" step=".01">
                            <span class="input-group-addon" id="basic-addon3">€</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                        <button type="button" class="btn btn-primary" onclick="nouvelleMission();">Proposer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#quand on ne peut pas ajouter une mission#}
    <div>
        <div id="ModalTarifDenied" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Impossible de proposer une nouvelle Mission</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs 12">
                                    <p>Champ(s) manquant(s) :</p>
                                    <ul>
                                        {% for text in tab %}
                                            <li>{{ text }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% include 'ApplicationPlateformeBundle:SuiviAdministratif:facture.html.twig' %}