<form method="POST" id="suiviAdministratifNewForm" action="{{ path('application_new_suivi_administratif', { 'id' : beneficiaire.id }) }}" >
    <tr>
        <td class="tableSection" colspan="3">nouveau Suivi Administratif</td>
    </tr>
    <tr>
        <td>date :</td>
        <td>{{ form_widget(form.date) }}</td>
    </tr>
    <tr>
        <td>Quoi?</td>
        <td colspan="3">{{ form_widget(form.quoi) }}</td>
    </tr>
    <tr>
        <td>Qui?</td>
        <td colspan="3">{{ form_widget(form.qui) }}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="valider">{{ form_widget(form.submit) }}</td>
    </tr>
    <tr>
        <td>{{ form_rest(form) }}</td>
        <td>{{ form_errors(form) }}</td>
    </tr>
</form>