<form method="POST" id="suiviAdministratifNewForm" action="{{ path('application_new_suivi_administratif', { 'id' : beneficiaire.id }) }}" >
    <br>
    <div>
        <span class="tableSection" style="width: 110px">Ajouter une action</span>
    </div>
    <div>
        <span>date :</span>
        <span style="width: 100%;">{{ form_widget(form.date) }}</span>
    </div>
    <div>
        <span>Quoi?</span>
        <span colspan="3">{{ form_widget(form.quoi) }}</span>
    </div>
    <div>
        <span>Qui?</span>
        <span colspan="3">{{ form_widget(form.qui) }}</span>
    </div>
    <div>
        <span class="valider">{{ form_widget(form.submit) }}</span>
    </div>
    <div  class="form-rest">
        <span>{{ form_rest(form) }}</span>
        <span>{{ form_errors(form) }}</span>
    </div>
</form>