{%  if beneficiaire.suiviAdministratif is not null %}
            {% for suiviAdministratif in beneficiaire.suiviAdministratif %}
                <div class="showAllSuiviAdministratif">
                    <div class="col-sm-2">{{ suiviAdministratif.date|date('d/M/Y') }}</div>
                    <div class="col-sm-3">{{ suiviAdministratif.quoi }}</div>
                    <div class="col-sm-3">{{ suiviAdministratif.qui }}</div>
                    <div class="btn col-sm-1">
                        <a href="{{ path('application_delete_suivi_administratif', { 'id': suiviAdministratif.id }) }}">
                            <span style="color: black; float: right" class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                    <div class="btn col-sm-1">
                        <span style="color: black; float: right" data-toggle="modal" data-target="#myModalSuiviAdministratifModify{{ loop.index }}" class="glyphicon glyphicon-pencil"></span>
                    </div>
                    <div class="modal fade" id="myModalSuiviAdministratifModify{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Modifier Suivi Administratif</h4>
                                </div>
                                    <form method="POST" id="newsForm" action="{{ path('application_edit_suivi_administratif', {'id': suiviAdministratif.id}) }}" >
                                        {{ render(controller("ApplicationPlateformeBundle:SuiviAdministratif:update",{'id': suiviAdministratif.id})) }}
                                    </form>
                            </div>
                        </div>
                    </div>
                </div><br><br>
            {% endfor %}
{%  endif %}