{% extends "::layout/layout-pdf.html.twig" %}

{% block title %}PDF : Facture{% endblock %}

{% block stylesheets %}
    <style>
        #block_facture{
            position:relative;
            /*width:950px;*/
            /*margin:auto;*/
            /*border:1px solid;*/
        }

        #block_logo img{
            margin-left: -46px;
        }

        #financeur{
            margin-left:450px;
        }

        #num_facture{
            text-align: center;
            margin-top:30px;
            margin-bottom: 30px;
            font-size:17px;
        }
        .blue_text{
            color: #4a44b2;
        }
        .montant{
            text-align: right;
            display:block;
            margin-top: -23px;
        }

        #solde{
            border:2px solid;
            padding:10px 10px;
            margin-bottom: 30px;
        }

        #rib{
            border:2px solid;
            padding:10px 10px;
        }
        table{
            width:100%;
        }
        table td{
            padding-right:10px;
            padding-left: 10px;
        }

        #footer{
            background-color:rgba(168, 215, 0, 0.89);
            padding: 10px 10px;
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="block_facture" class='container'>
        <header>
            <div id="block_logo">
                <img src="http://appli.entheor.com/web/images/logo_entheor.jpg" />
            </div>

            <p id="financeur">
                <b>{{ nomFinanceur }}</b><br>
                {{ rueFinanceur }}<br>
                {{ cpVilleFinanceur }}<br><br>
                LYON, le {{ facture.date | date("d/m/Y") }}
            </p>

            <p id="objet">
                <b>Objet : Accompagnement VAE {{ facture.beneficiaire.civiliteConso | capitalize ~ ' '~ facture.beneficiaire.nomConso | capitalize ~ ' '~ facture.beneficiaire.prenomConso | capitalize }}</b><br>
                {% if facture.numeroRef is not null  %} N° Ref : {{ facture.numeroRef }} {% endif %}
                {% if facture.codeAdherent is not null %} {% if facture.numeroRef is not null  %} - {% endif %} Code Adhérent : {{ facture.codeAdherent }} {% endif %}
                <br>
                du {{ facture.dateDebutAccompagnement | date("d/m/Y") }} au {{ facture.dateFinAccompagnement | date("d/m/Y") }}
            </p>
        </header>

        <section>
            <p id="num_facture"><u><b>Facture n° {{ facture.numero }}</b></u></p>
            <p><b><span class="blue_text">Accompagnement VAE {{ facture.beneficiaire.accompagnement.heure }}h</span></b> <span class="montant">{{ facture.montant }} €</span></p>
            {% if facture.detailAccompagnement is not null %}
                <p>{{ facture.detailAccompagnement }}</p>
            {% endif %}
            <hr>
            <p><span><u>Total Net de TVA</u></span> <span class="montant">{{ facture.montant }} €</span><br>
                <span >Non assujetti à la TVA</span>
            </p>

            <p id="solde"><b><span>Le total à payer</span> <span class="montant">{{ facture.montant }} €</span></b></p>
            <p>
                {% if facture.infoPaiement is not null %}
                    <u>{{ facture.infoPaiement }}</u><br><br>
                {% endif %}
                <i>"Conformément à la loi n° 2001-420, les pénalités encourues seront appliquées au taux minimum légal en sus de l'indemnité forfaitaire de 40 € pour frais de recouvrement"</i>
            </p>
        </section>

        <aside id="block_rib">
            <p><u><b>Référénces bancaires :</b></u></p>
            <div id="rib">
                <table>
                    <tr>
                        <td colspan="4" style="text-align: center;">Identifiant National Bancaire</td>
                    </tr>
                    <tr>
                        <td colspan="4"><b>{{ banque }}</b></td>
                    </tr>
                    <tr>
                        <td>Code banque</td>
                        <td>Code guichet</td>
                        <td>N° de compte</td>
                        <td>Clé Rib</td>
                    </tr>
                    <tr>
                        <td>{{ code_banque }}</td>
                        <td>{{ code_guichet }}</td>
                        <td>{{ num_compte }}</td>
                        <td>{{ cle_rib }}</td>
                    </tr>
                    <tr style="margin-bottom: 15px;display: block;"></tr>
                    <tr>
                        <td colspan="2">IBAN - Identifiant International Bancaire</td>
                        <td colspan="2">BIC</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ iban }}</td>
                        <td colspan="2">{{ bic }}</td>
                    </tr>
                </table>

            </div>
            <p style="text-align: right;">En votre aimable réglement</p>
        </aside>

        <div id="footer" >
            <p style="text-align: center">ENTHEOR - {{ adresse }}</p>
            <table style="margin-left: 60px;">
                <tr>
                    <td>Tel : {{ telephone }}</td>
                    <td>Email : {{ email }}</td>
                </tr>
                <tr>
                    <td>Siret : {{ siret }}</td>
                    <td>N° déclaration d'activité : {{ num_declaration_activite }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}