{% extends "ApplicationPlateformeBundle::layout.html.twig" %}

{% block header %}
    {% if liste_beneficiaire != null %}
        <div id="banner">
            {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:search")) }}      
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {% for info in app.session.flashbag.get('info') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ info }}
        </div>
    {% endfor %}
    <section class="container-fluid section-tab-home-benef">
    {% if liste_beneficiaire != null %}
        {% if results is defined %}
            <h4 style="margin-top: -20px;margin-bottom: 26px;"><b><span class="text-primary">{{ nombreBeneficiaire }}</span> Bénéficiaires</b></h4>
            {% for beneficiaire in liste_beneficiaire %}
                {# Pour définir la variable j'ai pris la taille du tableau - 1 pour récupérer le dernier index #}
                <div class="row tab-home-benef">
                    <div class="table-responsive col-md-12" >
                        <button title="Ajouter une news" class="btn_formulaire_add_news  btn btn-primary" id="{{ beneficiaire.id }}" type="button" data-toggle="modal" data-target="#block_formulaire_ajout_new_{{beneficiaire.id}}" >Maj</button>
                        <a title="Voir la fiche du bénéficiaire" alt="Voir la fiche du bénéficiaire" target="_blank" href="{{ path('application_show_beneficiaire', {'id': beneficiaire.id}) }}" class="btn btn-success" id="{{ beneficiaire.id }}" type="button" style="">Voir fiche</a>
                        
                        <!-- Lien Agenda uniquement si un consultant est rattaché au bénéficiaire -->
                        {% if beneficiaire.consultant is not null %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                {% set agendaUserId = beneficiaire.consultant.id %}
                                <a title="Voir l'agenda" alt="Voir l'agenda" href="{{ path('application_plateforme_agenda', {'userid': agendaUserId, 'benef': beneficiaire.id }) }} " target="_blank" class="btn btn-info"  type="button" >Agenda</a>
                            {% else %}  
                                {% set agendaUserId = app.user.id %}
                                <a title="Voir l'agenda" alt="Voir l'agenda" href="{{ path('application_plateforme_agenda', {'userid': agendaUserId, 'benef': beneficiaire.id }) }} " target="_blank" class="btn btn-info"  type="button" >Agenda</a>
                            {% endif %}
                        {% endif %}         
                        
            
                        
                        <!--<img src="{{ asset("images/icon_calendar.jpg") }}" alt="Agenda" title="Agenda" width="31px" />-->
                        <br>
                        <table class="table table-bordered tab-benef" id="b{{ beneficiaire.id }}">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Ville Mer</th>
                                <th>Date Mer</th>
                                <th>Heure Mer</th>
                                <th>Tél</th>
                                <th>Email</th>
                                <th>Domaine Vae</th>
                                <th>Diplôme visé</th>
                                <th>Heure rappel</th>
                                <th>Consultant</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a title="Voir la fiche du bénéficiaire" alt="Voir la fiche du bénéficiaire" target="_blank" href="{{ path('application_show_beneficiaire', {'id': beneficiaire.id}) }}" id="{{ beneficiaire.id }}"><b>{{ beneficiaire.nomConso|capitalize }}</b></a></td>
                                    <td><b>{{ beneficiaire.prenomConso|capitalize }}</b></td>
                                    <td>{{ beneficiaire.villeMer.nom|capitalize }}</td>
                                    <td>{{ beneficiaire.dateHeureMer|date("d/m/Y") }}</td>
                                    <!-- heure de la première news du bénéficiaire, cad l'heure de la confirmation de la mer à qq secondes près -->
                                    <td>{{ beneficiaire.news[0].dateHeure|date("H:i") }}</td>
                                    <td><b>{{ beneficiaire.telConso }}</b></td>
                                    <td>{{ beneficiaire.emailConso }}</td>
                                    <td>{{ beneficiaire.domaineVae|capitalize }}</td>
                                    <td>{{ beneficiaire.diplomeVise|capitalize }}</td>
                                    <td>{{ beneficiaire.heureRappel|capitalize }}</td>
                                    {% if beneficiaire.consultant is not null %}
                                        <td>
                                            <b>{{ beneficiaire.consultant.nom~' '~beneficiaire.consultant.prenom }}</b>
                                        
                                        </td>
                                    {% else %}
                                        <td>
                                            <b>Pas encore de consultant</b>
                                        
                                        </td>
                                    {% endif %}
                                </tr>

                            

                                {% if(beneficiaire.news | length > 0) %}
                                    {% set derniere_news = beneficiaire.news[beneficiaire.news | length -1] %}
                                {% endif %}
                            
                                <tr>
                                    <th colspan=2>Nombre total appel</th>
                                    <th colspan=2>Dernier appel</th>
                                    <th colspan=5>Dernière news</th>
                                    <th>Statut</th>
                                    <th>Détail statut</th>
                                </tr>
                                <tr>
                                    <td colspan=2 title="Ajouter une news" class="btn_formulaire_add_news" id="{{beneficiaire.id}}" data-toggle="modal" data-target="#block_formulaire_ajout_new_{{beneficiaire.id}}"><span style="color:red"><b>{% if beneficiaire.nbAppelTel == null %}0{% endif %} {{ beneficiaire.nbAppelTel }}</b></span> appel{% if beneficiaire.nbAppelTel > 1 %}s{% endif %}</td>
                                    <td colspan=2>
                                        {{ beneficiaire.news | length > 0 ? derniere_news.dateHeure|date("d/m/Y") ~ ' à' : '' }}
                                        {{ beneficiaire.news | length > 0 ? derniere_news.dateHeure|date("H:i") : ''}}
                                    </td>
                                    <td colspan=5>{{ beneficiaire.news | length > 0 ? derniere_news.message : '' }}</td>
                                    <td><b>{{ beneficiaire.news | length > 0 ? derniere_news.statut.nom : '' }}</b></td>
                                    <td>{{ beneficiaire.news | length > 0 ? derniere_news.detailStatut.detail : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <aside class="modal fade block_formulaire_ajout_new" id="block_formulaire_ajout_new_{{beneficiaire.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header my_header_modal">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">MAJ Bénéficiaire</h4>
                                    <p>
                                        <span id="nom_prenom_beneficiaire"><b>{{ beneficiaire.civiliteConso|capitalize ~ ' ' ~ beneficiaire.nomConso|capitalize ~ ' ' ~ beneficiaire.prenomConso|capitalize}}</b><br></span>
                                        {{ beneficiaire.ville.nom|capitalize }}
                                    </p>
                                    <!-- ID du statut de la dernière news du bénéficiaire. On s'en sert dans js pour avoir le statut suivant -->
                                    <input type="hidden" value="{{ derniere_news.statut.id }}" class="statutIDCurrent"/>
                                </div>
                               
                                <!-- Le fomulaire déplacé via javascript viendra se loger ici -->
                            </div>
                        </div>
                    </aside>
                </div>
                <br>
 
            {% endfor %}
            </section>

            <!-- Formulaire qui sera déplacé en javascript dans la boucle pour lié à un bénéficiaire -->
            <div id="block_formulaire_add_news" style="display:none" >
                <form id="form_add_news" action="{{ path('application_plateforme_homepage') }}" method="post">
                    <div class="modal-body">
                        <input id="hidden_beneficiaire_id" type="hidden" name="beneficiaire_id" value="" />
                        {{ form_label(form_news.statut) }}
                        {{ form_widget(form_news.statut, {'attr' : {'class': 'statut'}}) }}
                        {{ form_label(form_news.detailStatut, '' ,{'label_attr' : {'class': 'labelDetailStatut'}}) }}<div style="display:none" class="block_info_chargement"><img class="img_loading" src="{{ asset('images/ajax-loader.gif') }}" /> <span class="message_chargement text-info"><i>Chargement de la liste</i></span></div>
                        {{ form_widget(form_news.detailStatut, {'attr' : {'class': 'detailStatut', 'disabled':'disabled'}}) }}
                        {{ form_label(form_news.message) }}
                        {{ form_widget(form_news.message) }}
                    </div>
                    <div class="modal-footer">
                        {{ form_rest(form_news) }}
                    </div>
                </form>
            </div>

            <div id="pagination" style="text-align:center">
                <ul class="pagination">
                    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                    {% for p in range(1, nbPages) %}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('application_plateforme_homepage', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="row">
                <h4 class="col-md-4" style="margin-top: -20px;margin-bottom: 26px;"><b><span class="text-primary">{{ nombreBeneficiaire }}</span> Bénéficiaires</b></h4>
                <a class="col-md-2 col-md-offset-6" href="{{path("application_add_beneficiaire")}}" alt="Ajouter un bénéficiaire">Ajouter un bénéficiaire</a>
            </div>
            {% for beneficiaire in liste_beneficiaire %}
                {# Pour définir la variable j'ai pris la taille du tableau - 1 pour récupérer le dernier index #}
                <div class="row tab-home-benef" id="tab-home-benef{{ beneficiaire.id }}">
                    <div class="table-responsive col-md-12" >
                        <button title="Ajouter une news" class="btn_formulaire_add_news  btn btn-primary" id="{{ beneficiaire.id }}" type="button" data-toggle="modal" data-target="#block_formulaire_ajout_new_{{beneficiaire.id}}" >Maj</button>
                        <a title="Voir la fiche du bénéficiaire" alt="Voir la fiche du bénéficiaire" target="_blank" href="{{ path('application_show_beneficiaire', {'id': beneficiaire.id}) }}" class="btn btn-success" id="{{ beneficiaire.id }}" type="button" style="">Voir fiche</a>
                        
                        <!-- Lien Agenda uniquement si un consultant est rattaché au bénéficiaire -->
                        {% if beneficiaire.consultant is not null %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                {% set agendaUserId = beneficiaire.consultant.id %}
                                <a title="Voir l'agenda" alt="Voir l'agenda" href="{{ path('application_plateforme_agenda', {'userid': agendaUserId, 'benef': beneficiaire.id }) }} " target="_blank" class="btn btn-info"  type="button" >Agenda</a>
                            {% else %}  
                                {% set agendaUserId = app.user.id %}
                                <a title="Voir l'agenda" alt="Voir l'agenda" href="{{ path('application_plateforme_agenda', {'userid': agendaUserId, 'benef': beneficiaire.id }) }} " target="_blank" class="btn btn-info"  type="button" >Agenda</a>
                            {% endif %}
                        {% endif %}

                        <a target="_blank" href="{{ path('application_add_evenement', { 'id' : beneficiaire.id }) }}" data-id="{{ beneficiaire.id }}" onclick="getClient()" class="btn btn-success"  type="button" style="">ajouter evenement</a>
                        
            
                        
                        <!--<img src="{{ asset("images/icon_calendar.jpg") }}" alt="Agenda" title="Agenda" width="31px" />-->
                        <br>
                        <table class="table table-bordered tab-benef" id="b{{ beneficiaire.id }}">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Ville Mer</th>
                                <th>Date Mer</th>
                                <th>Heure Mer</th>
                                <th>Tél</th>
                                <th>Email</th>
                                <th>Domaine Vae</th>
                                <th>Diplôme visé</th>
                                <th>Heure rappel</th>
                                <th>Consultant</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a title="Voir la fiche du bénéficiaire" alt="Voir la fiche du bénéficiaire" target="_blank" href="{{ path('application_show_beneficiaire', {'id': beneficiaire.id}) }}" id="{{ beneficiaire.id }}"><b>{{ beneficiaire.nomConso|capitalize }}</b></a></td>
                                    <td><b>{{ beneficiaire.prenomConso|capitalize }}</b></td>
                                    <td>{{ beneficiaire.villeMer.nom|capitalize }}</td>
                                    <td>{{ beneficiaire.dateHeureMer|date("d/m/Y") }}</td>
                                    <!-- heure de la première news du bénéficiaire, cad l'heure de la confirmation de la mer à qq secondes près -->
                                    <td>{{ beneficiaire.news[0].dateHeure|date("H:i") }}</td>
                                    <td><b>{{ beneficiaire.telConso }}</b></td>
                                    <td>{{ beneficiaire.emailConso }}</td>
                                    <td>{{ beneficiaire.domaineVae|capitalize }}</td>
                                    <td>{{ beneficiaire.diplomeVise|capitalize }}</td>
                                    <td>{{ beneficiaire.heureRappel|capitalize }}</td>
                                    {% if beneficiaire.consultant is not null %}
                                        <td>
                                            <b>{{ beneficiaire.consultant.nom~' '~beneficiaire.consultant.prenom }}</b>
                                            
                                        </td>
                                    {% else %}
                                        <td>
                                            <b>Pas encore de consultant</b>
                                            
                                        </td>
                                    {% endif %}
                                </tr>

                               

                                {% if(beneficiaire.news | length > 0) %}
                                    {% set derniere_news = beneficiaire.news[beneficiaire.news | length -1] %}
                                {% endif %}

                                <tr>
                                    <th colspan=2>Nombre total appel</th>
                                    <th colspan=2>Dernier appel</th>
                                    <th colspan=5>Dernière news</th>
                                    <th>Statut</th>
                                    <th>Détail statut</th>
                                </tr>
                                <tr>
                                    <td colspan=2 title="Ajouter une news" class="btn_formulaire_add_news" id="{{beneficiaire.id}}" data-toggle="modal" data-target="#block_formulaire_ajout_new_{{beneficiaire.id}}"><span style="color:red"><b>{% if beneficiaire.nbAppelTel == null %}0{% endif %} {{ beneficiaire.nbAppelTel }}</b></span> appel{% if beneficiaire.nbAppelTel > 1 %}s{% endif %}</td>
                                    <td colspan=2>
                                        {{ beneficiaire.news | length > 0 ? derniere_news.dateHeure|date("d/m/Y") ~ ' à' : '' }}
                                        {{ beneficiaire.news | length > 0 ? derniere_news.dateHeure|date("H:i") : ''}}
                                    </td>
                                    <td colspan=5>{{ beneficiaire.news | length > 0 ? derniere_news.message : '' }}</td>
                                    <td><b>{{ beneficiaire.news | length > 0 ? derniere_news.statut.nom : '' }}</b></td>
                                    <td>{{ beneficiaire.news | length > 0 ? derniere_news.detailStatut.detail : '' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <aside class="modal fade block_formulaire_ajout_new" id="block_formulaire_ajout_new_{{beneficiaire.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header my_header_modal">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">MAJ Bénéficiaire</h4>
                                    <p>
                                        <span id="nom_prenom_beneficiaire"><b>{{ beneficiaire.civiliteConso|capitalize ~ ' ' ~ beneficiaire.nomConso|capitalize ~ ' ' ~ beneficiaire.prenomConso|capitalize}}</b><br></span>
                                        {{ beneficiaire.ville.nom|capitalize }}
                                    </p>
                                    <!-- ID du statut de la dernière news du bénéficiaire. On s'en sert dans js pour avoir le statut suivant -->
                                    <input type="hidden" value="{{ derniere_news.statut.id }}" class="statutIDCurrent"/>
                                </div>
                               
                                <!-- Le fomulaire déplacé via javascript viendra se loger ici -->
                            </div>
                        </div>
                    </aside>
                </div>
                <br>
 
            {% endfor %}
            </section>
            
            <!-- Formulaire qui sera déplacé en javascript dans la boucle pour lié à un bénéficiaire -->
            <div id="block_formulaire_add_news" style="display:none" >
                <form id="form_add_news" action="{{ path('application_plateforme_homepage') }}" method="post">
                    <div class="modal-body">
                        <input id="hidden_beneficiaire_id" type="hidden" name="beneficiaire_id" value="" />
                        {{ form_label(form_news.statut) }}
                        {{ form_widget(form_news.statut, {'attr' : {'class': 'statut'}}) }}
                        {{ form_label(form_news.detailStatut, '' ,{'label_attr' : {'class': 'labelDetailStatut'}}) }}<div style="display:none" class="block_info_chargement"><img class="img_loading" src="{{ asset('images/ajax-loader.gif') }}" /> <span class="message_chargement text-info"><i>Chargement de la liste</i></span></div>
                        {{ form_widget(form_news.detailStatut, {'attr' : {'class': 'detailStatut', 'disabled':'disabled'}}) }}
                        {{ form_label(form_news.message) }}
                        {{ form_widget(form_news.message) }}
                        <div class="submit_news" style="text-align: right;margin-top: 14px;width: 95%;margin-bottom: 0px;">
                            {{ form_widget(form_news.Enregistrer) }}
                        </div>
                        {{ form_rest(form_news) }}
                    </div>
                </form>
            </div>

            <div id="pagination" style="text-align:center">
                <ul class="pagination">
                    {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                    {% for p in range(1, nbPages) %}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('application_plateforme_homepage', {'page': p}) }}">{{ p }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <div class="jumbotron">
            <p class="">Vous n'avez pas encore de bénéficiaires attribués</p>
        </div>      
    {% endif %}
{% endblock %}