{% if results is defined %}
{% else %}
    {% extends "ApplicationPlateformeBundle::layout.html.twig" %}

    {% block header %}
        {% if (liste_beneficiaire | length > 0) or (results is defined) %}
            <div id="banner">
                {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:search")) }}
            </div>
            <div id="tri">
                <p>Trier par : </p>
                <div>
                    <label for="select_tri_alpha">Nom</label>
                    <select onchange="tri(this)" name="select_tri_alpha" id="select_tri_alpha">
                        <option value="0"></option>
                        <option value="1">A->Z</option>
                        <option value="2">Z->A</option>
                    </select>
                </div>
                <div>
                    <label for="select_tri_date" id="label_select_tri_date">Date</label>
                    <select onchange="tri(this)" name="select_tri_date" id="select_tri_date">
                        <option value="0"></option>
                        <option value="1">ASC.</option>
                        <option value="2">DESC.</option>
                    </select>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endif %}

{% block body %}

    {% for info in app.session.flashbag.get('info') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ info }}
        </div>
    {% endfor %}

    {% if liste_beneficiaire | length > 0 %}
        <section class="container-fluid section-tab-home-benef">
            <div id="section_home">
            {% include "ApplicationPlateformeBundle:Home:listeBeneficiaire.html.twig" %}
            </div>
        </section>


        <!-- Formulaire qui sera déplacé en javascript dans la boucle pour lié à un bénéficiaire -->
        <div id="block_formulaire_add_news" style="display:none">
            <form id="form_add_news" action="{{ path('application_plateforme_homepage') }}" method="post">
                <div class="modal-body">
                    <input id="hidden_beneficiaire_id" type="hidden" name="beneficiaire_id" value=""/>
                    {{ form_label(form_news.statut) }}
                    {{ form_widget(form_news.statut, {'attr' : {'class': 'statut'}}) }}
                    {{ form_label(form_news.detailStatut, '' ,{'label_attr' : {'class': 'labelDetailStatut'}}) }}
                    <div style="display:none" class="block_info_chargement"><img class="img_loading"
                                                                                 src="{{ asset('images/ajax-loader.gif') }}"/>
                        <span class="message_chargement text-info"><i>Chargement de la liste</i></span></div>
                    {{ form_widget(form_news.detailStatut, {'attr' : {'class': 'detailStatut', 'disabled':'disabled'}}) }}
                    <div class="submit_news" style="text-align: right;margin-top: 14px;width: 95%;margin-bottom: 0px;">
                        {{ form_widget(form_news.Enregistrer) }}
                    </div>
                    {{ form_rest(form_news) }}
                </div>
            </form>
        </div>
        <div id="block_formulaire_add_nouvelle" style="display:none">
            <form id="form_add_nouvelle" action="{{ path('application_plateforme_homepage') }}" method="post">
                <div class="modal-body">
                    <input id="hidden_beneficiaire_id" type="hidden" name="beneficiaire_id" value=""/>
                    {{ form_label(form_nouvelle.message) }}
                    {{ form_widget(form_nouvelle.message) }}
                    <div class="submit_news" style="text-align: right;margin-top: 14px;width: 95%;margin-bottom: 0px;">
                        {{ form_widget(form_nouvelle.Enregistrer) }}
                    </div>
                    {{ form_rest(form_nouvelle) }}
                </div>
            </form>
        </div>
        <div id="pagination" style="text-align:center">
            <ul class="pagination">
                {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('application_plateforme_homepage', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="jumbotron">
            {% if results is defined %} 
                {% if results | length < 1 %} <p class="">Aucun résultat trouvé</p> {% endif %}
            {% else %}
                <p class="">Vous n'avez pas encore de bénéficiaires attribués</p>
            {% endif %}
        </div>      
    {% endif %}
{% endblock %}