<div class="row">
    <h4 class="col-md-4" style="margin-top: -20px;margin-bottom: 26px;"><b><span
                    class="text-primary">{{ nombreBeneficiaire }}</span> Bénéficiaires</b></h4>
</div>
{% for beneficiaire in liste_beneficiaire %}
    {# Pour définir la variable j'ai pris la taille du tableau - 1 pour récupérer le dernier index #}
    <div class="row tab-home-benef" id="tab-home-benef{{ beneficiaire.id }}">
        <div class="table-responsive col-md-12">
            {# Bouton Maj pas afficher pour les consultants, j'ai rajouter une condition sur l'admin car il est a le role consultant egalement #}
            {% if is_granted('ROLE_ADMIN') or not is_granted('ROLE_CONSULTANT') %}
                <button title="Maj statut" class="btn_formulaire_add_news  btn btn-primary"
                        id="{{ beneficiaire.id }}" type="button" data-toggle="modal"
                        onclick="addNews(this);"
                        data-target="#block_formulaire_ajout_new_{{ beneficiaire.id }}">Maj
                </button>
            {% endif %}
            <a title="Voir la fiche du bénéficiaire" alt="Voir la fiche du bénéficiaire" target="_blank"
               href="{{ path('application_show_beneficiaire', {'id': beneficiaire.id}) }}" class="btn btn-success"
               id="{{ beneficiaire.id }}" type="button" style="">Voir fiche</a>
            <button title="Ajouter une news" class="btn_formulaire_add_nouvelle  btn btn-warning"
                    id="{{ beneficiaire.id }}" type="button" data-toggle="modal"
                    onclick="addNouvelle(this);"
                    data-target="#block_formulaire_ajout_nouvelle_{{ beneficiaire.id }}">News
            </button>

            <!-- Lien Agenda uniquement si un consultant est rattaché au bénéficiaire -->
            {% if beneficiaire.consultant is not null %}
                <a target="_blank" href="{{ path('application_add_evenement', { 'id' : beneficiaire.id }) }}"
                   data-id="{{ beneficiaire.id }}" onclick="getClient()" class="btn btn-info" type="button"
                   style="">Agenda</a>
            {% endif %}

            <!--<img src="{{ asset("images/icon_calendar.jpg") }}" alt="Agenda" title="Agenda" width="31px" />-->
            <br>
            <table class="table table-bordered tab-benef" id="b{{ beneficiaire.id }}">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Ville Mer</th>
                    <th>Date Mer</th>
                    <th>Heure Mer</th>
                    <th>Tél</th>
                    <th>Email</th>
                    <th>Domaine Vae</th>
                    <th>Diplôme visé</th>
                    <th>Heure rappel</th>
                    <th>Consultant</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a title="Voir la fiche du bénéficiaire" alt="Voir la fiche du bénéficiaire" target="_blank"
                           href="{{ path('application_show_beneficiaire', {'id': beneficiaire.id}) }}"
                           id="{{ beneficiaire.id }}"><b>{{ beneficiaire.nomConso|capitalize }}</b></a></td>
                    <td><b>{{ beneficiaire.prenomConso|capitalize }}</b></td>
                    <td>{{ beneficiaire.villeMer.nom|capitalize }}</td>
                    <td>{{ beneficiaire.dateHeureMer|date("d/m/Y") }}</td>
                    <!-- heure de la première news du bénéficiaire, cad l'heure de la confirmation de la mer à qq secondes près -->
                    <td>{{ beneficiaire.news[0].dateHeure|date("H:i") }}</td>
                    <td><b>{{ beneficiaire.telConso }}</b></td>
                    <td>{{ beneficiaire.emailConso }}</td>
                    <td>{{ beneficiaire.domaineVae|capitalize }}</td>
                    <td>{{ beneficiaire.diplomeVise|capitalize }}</td>
                    <td>{{ beneficiaire.heureRappel|capitalize }}</td>
                    {% if beneficiaire.consultant is not null %}
                        <td>
                            <b>{{ beneficiaire.consultant.nom~' '~beneficiaire.consultant.prenom }}</b>

                        </td>
                    {% else %}
                        <td>
                            <b>Pas encore de consultant</b>

                        </td>
                    {% endif %}
                </tr>


                {% if(beneficiaire.news | length > 0) %}
                    {% set derniere_news = beneficiaire.news[beneficiaire.news | length -1] %}
                {% endif %}

                <tr>
                    <th colspan=2>Nombre total appel</th>
                    <th colspan=2>{% if is_granted('ROLE_ADMIN') or not is_granted('ROLE_CONSULTANT') %}Dernier appel{% else %}Dernier message{% endif %}</th>
                    <th colspan=5>Dernière news</th>
                    <th>Statut</th>
                    <th>Détail statut</th>
                </tr>
                <tr>
                    {% if is_granted('ROLE_ADMIN') or not is_granted('ROLE_CONSULTANT') %}
                        <td colspan=2 title="Ajouter une news" class="btn_formulaire_add_news"
                            id="{{ beneficiaire.id }}" data-toggle="modal"
                            data-target="#block_formulaire_ajout_new_{{ beneficiaire.id }}"><span
                                    style="color:red"><b>{% if beneficiaire.nbAppelTel == null %}0{% endif %} {{ beneficiaire.nbAppelTel }}</b></span>
                            appel{% if beneficiaire.nbAppelTel > 1 %}s{% endif %}</td>
                    {% else %}
                        <td colspan=2></td>
                    {% endif %}
                    <td colspan=2>
                        {{ beneficiaire.news | length > 0 ? derniere_news.dateHeure|date("d/m/Y") ~ ' à' : '' }}
                        {{ beneficiaire.news | length > 0 ? derniere_news.dateHeure|date("H:i") : '' }}
                    </td>

                    <td colspan=5>
                        {% if(beneficiaire.nouvelle | length > 0) %}
                            {% set last_nouvelle = beneficiaire.nouvelle[beneficiaire.nouvelle | length -1] %}
                            {{ last_nouvelle.utilisateur.prenom |slice(0,1)| capitalize ~'. '~last_nouvelle.utilisateur.nom | capitalize ~', le '~
                            last_nouvelle.date | date("d/m/Y à H:i")~' : '~ ((last_nouvelle.message | length > 130) ? last_nouvelle.message | slice(0,130)~'...' :  last_nouvelle.message) }}
                            {% if(beneficiaire.nouvelle | length > 1) %}
                            <button data-toggle="modal" class="voirPlusNouvelle" id="{{ beneficiaire.id }}"
                                    onclick="voirNouvelle(this);"
                                    data-target="#voirPlusNouvelle_{{ beneficiaire.id }}">Voir
                                +</button>{% endif %}
                        {% endif %}
                    </td>
                    <td><b>{{ beneficiaire.news | length > 0 ? derniere_news.statut.nom : '' }}</b></td>
                    <td>{{ beneficiaire.news | length > 0 ? derniere_news.detailStatut.detail : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <aside class="modal fade block_formulaire_ajout_new" id="block_formulaire_ajout_new_{{ beneficiaire.id }}"
               tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header my_header_modal">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">MAJ Bénéficiaire</h4>
                        <p>
                            <span id="nom_prenom_beneficiaire"><b>{{ beneficiaire.civiliteConso|capitalize ~ ' ' ~ beneficiaire.nomConso|capitalize ~ ' ' ~ beneficiaire.prenomConso|capitalize }}</b><br></span>
                            {{ beneficiaire.ville.nom|capitalize }}
                        </p>
                        <!-- ID du statut de la dernière news du bénéficiaire. On s'en sert dans js pour avoir le statut suivant -->
                        <input type="hidden" value="{{ derniere_news.statut.id }}" class="statutIDCurrent"/>
                    </div>

                    <!-- Le fomulaire déplacé via javascript viendra se loger ici -->
                </div>
            </div>
        </aside>
        <aside class="modal fade block_formulaire_ajout_nouvelle"
               id="block_formulaire_ajout_nouvelle_{{ beneficiaire.id }}" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header my_header_modal">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ajout d'une News |
                            <span class="text-danger">{{ beneficiaire.civiliteConso|capitalize ~ ' ' ~ beneficiaire.nomConso|capitalize ~ ' ' ~ beneficiaire.prenomConso|capitalize }}</span>
                        </h4>
                    </div>

                    <!-- Le fomulaire déplacé via javascript viendra se loger ici -->
                </div>
            </div>
        </aside>
        <aside class="modal fade" id="voirPlusNouvelle_{{ beneficiaire.id }}" tabindex="-1" role="dialog"
               aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">News |
                            <span class="text-danger">{{ beneficiaire.civiliteConso|capitalize ~ ' ' ~ beneficiaire.nomConso|capitalize ~ ' ' ~ beneficiaire.prenomConso|capitalize }}</span>
                        </h4>
                    </div>
                    <div class="modal-body" id="listeNouvelle_{{ beneficiaire.id }}">

                    </div>
                </div>
            </div>
        </aside>
    </div>
    <br>

{% endfor %}

