{% extends "ApplicationPlateformeBundle::layout.html.twig" %}

{% block title %}Ressources partagés{% endblock%}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@ApplicationPlateformeBundle/Resources/public/css/ressource.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for info in app.session.flashbag.get('info') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ info }}
                    </div>
                {% endfor %}

                <div class="page-header">
                    <div class="row">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') %}
                            <h1 class="col-md-10">Gestion - Ressources partagées<br><small>Ajouter, modifier, voir </small></h1>
                        {% else %}
                            <h1 class="col-md-10">Ressources partagées</h1>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="row">
                    <nav class="col-md-12">
                        <form method="POST" id="" action="{{ path('application_update_rubrique_ordre') }}">
                            <h4>Rubriques <input type="submit" value="Maj ordre" class="btn  btn_submit_ordre_rubrique" style="display: none" title="Mettre à jour l'ordre d'affichage des rubriques"/></h4>


                            <ul id="sortable" class="list-group list_rubrique_ressource">
                                {% for rubrique in ressourceRubriques %}
                                    {% if idRubrique == rubrique.id or idRubrique is null %}
                                        <li class="list-group-item" data-id-rubrique="{{ rubrique.id }}">
                                            <span class="badge">{{ rubrique.compteur }}</span>
                                            {{ rubrique.nom }}

                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') %}
                                                <aside>
                                                    <a href="#" data-toggle="modal" alt="Modifier la rubrique" title="Modifier la rubrique" data-target="#modifyRubrique{{ rubrique.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                                    <a href="#" data-toggle="modal" alt="Supprimer la rubrique" title="Supprimer la rubrique" data-target="#deleteRubrique{{ rubrique.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                </aside>
                                            {% endif %}
                                            <input type="hidden" name="rubrique[{{ rubrique.id }}]" value="" />
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>

                            <ul class="list-group list_rubrique_ressource">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') %}
                                    <li class="list-group-item" data-toggle="modal" data-target="#modalAddRubrique" style="cursor: pointer;margin-top: 5px;background-color: #ededed;color:#747474;" title="Ajouter une rubrique">+ <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></li>
                                {% endif %}
                            </ul>
                        </form>

                        {% for rubrique in ressourceRubriques %}
                            <!-- Modal formulaire -->
                            {{ render(controller("ApplicationPlateformeBundle:RubriqueRessource:edit", {'id': rubrique.id} )) }}
                            {{ render(controller("ApplicationPlateformeBundle:RubriqueRessource:delete", {'id': rubrique.id} )) }}
                        {% endfor %}

                    </nav>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') %}
                        <div class="col-md-12 block_form_add_file"><h4 data-toggle="modal" data-target="#modalAddFile">Ajouter un fichier</h4></div>
                        <!-- Modal formulaire -->
                        {{ render(controller("ApplicationPlateformeBundle:Ressource:add", {request: app.request})) }}
                        {{ render(controller("ApplicationPlateformeBundle:RubriqueRessource:add", {request: app.request})) }}
                    {% endif %}
                </div>
            </div>

            <div class="col-md-9 col-md-offset-1">
                    {% for rubrique in ressourceRubriques %}
                        {% if idRubrique == rubrique.id or idRubrique is null %}
                        <section>
                            <h3>{{ rubrique.nom }}</h3>
                            <hr>
                            <div class="row">
                                {% for ressource in ressources %}

                                    {% if ressource.format == 'pdf' %} {% set type = "pdf" %}
                                    {% elseif ressource.format == 'jpg' or ressource.format == 'jpeg'%} {% set type = "image" %}
                                    {% elseif ressource.format == 'word' %} {% set type = "word" %}
                                    {% elseif ressource.format == 'pdf' %} {% set type = "pdf" %}
                                    {% elseif ressource.format == 'xlsx' or ressource.format == 'csv' %} {% set type = "excel" %}
                                    {% endif %}

                                    {%  if ressource.rubrique.id == rubrique.id %}
                                        {% if is_granted('ROLE_ADMIN') or (ressource.droit == 'all_except_consultant' and not is_granted('ROLE_CONSULTANT')) or (ressource.droit == 'all') %}
                                            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 file_block">
                                                <div class="file">
                                                    <img src="{{ asset("images/icon_"~type~"_ressource.svg") }}" width="30" />
                                                    <aside style="display: none">
                                                        <a href="{{ asset('uploads/ressource_share/' ~ ressource.file) }}" title="Télécharger le document" target="_blank"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') %}
                                                            <a href="#" data-toggle="modal" data-target="#modifyDocument{{ ressource.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                                            <a href="#" data-toggle="modal" data-target="#deleteDocument{{ ressource.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                        {% endif %}
                                                    </aside>
                                                </div>
                                                <p><a href="{{ asset('uploads/ressource_share/' ~ ressource.file) }}" title="Télécharger le document" target="_blank">{{ ressource.nom }}</a></p>
                                            </div>
                                        {% endif %}
                                        <!-- Modal formulaire -->
                                        {{ render(controller("ApplicationPlateformeBundle:Ressource:edit", {'id': ressource.id} )) }}
                                        {{ render(controller("ApplicationPlateformeBundle:Ressource:delete", {'id': ressource.id} )) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </section>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {% javascripts filter="?jsqueeze"
        '@ApplicationPlateformeBundle/Resources/public/js/ressource.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock%}


