{% extends "ApplicationPlateformeBundle::layout.html.twig" %}
{% block title %}Factures{% endblock%}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for info in app.session.flashbag.get('info') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ info }}
                    </div>
                {% endfor %}
                <div class="page-header">
                    <div class="row">
                        <h1 class="col-md-10">Gestion - Factures<br><small></small></h1>
                    </div>
                </div>
                <div id="filtre_facture">
                    {{ render(controller('ApplicationPlateformeBundle:Facture:search' )) }}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped tablesorter">
                        <thead >
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bénéficiaire</th>
                            <th scope="col">Début accompagnement</th>
                            <th scope="col">Fin accompagnement</th>
                            <th scope="col">Financeur</th>
                            <!--<th scope="col">Ville</th>-->
                            <th scope="col">Consultant</th>
                            <th scope="col">N°</th>
                            <th scope="col">Date</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Statut création</th>
                            <th scope="col">Statut facture</th>
                           <!--<th scope="col" colspan="3"></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        {% for facture in factures %}
                            <tr>
                                <td>{{ facture.id }}</td>
                                <td><a href="{{ path("application_show_beneficiaire", {'id' : facture.beneficiaire.id }) }}" target="_blank" title="Fiche bénéficiaire">{{ facture.beneficiaire.nomConso | capitalize ~ ' '~ facture.beneficiaire.prenomConso | capitalize }}</a></td>
                                <td>{{ facture.dateDebutAccompagnement | date("d/m/Y") }}</td>
                                <td>{{ facture.dateFinAccompagnement | date("d/m/Y") }}</td>
                                {% set financeur = facture.Financeur | split('|') %}
                                <td>{{ financeur[0]~', '~financeur[2] }}</td>
                                <!--<td>{{ facture.beneficiaire.ville.nom | capitalize }}</td>-->
                                <td>{{ facture.beneficiaire.consultant.nom | capitalize ~ ' '~ facture.beneficiaire.consultant.prenom | capitalize }}</td>
                                <td><a href="{{ path("application_show_facture", {'numero' : facture.numero }) }}" title="Afficher facture" target="_blank">{{ facture.numero }}</a></td>
                                <td>{{ facture.date | date("d/m/Y") }}</td>
                                <td>{{ facture.montant }} €</td>
                                {% if facture.ouvert == true %}
                                    {% set etat = 'Ouvert' %}
                                {% else %}
                                    {% set etat = 'Fermé' %}
                                {% endif %}
                                <td>{{ etat }}</td>
                                <td><a href="#" title="Modifier le statut de paiement" data-toggle="modal" data-target="#modalPaiement{{ facture.id }}" class="lienModalPaiement">{{ facture.statut | capitalize }}</a></td>
                                {{ render(controller("ApplicationPlateformeBundle:Facture:paiement", {'id': facture.id} )) }}
                                <!--<td><a href="{{ path("application_show_facture", {'numero' : facture.numero }) }}" title="Afficher facture" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a></td>-->
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="pagination" style="text-align:center">
            {% include "ApplicationPlateformeBundle:Facture:pagination.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts filter="?jsqueeze"
        '@ApplicationPlateformeBundle/Resources/public/js/facture.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.5/js/jquery.tablesorter.min.js"></script>
{% endblock %}