<!-- Modal -->
<div class="modal fade" id="modalPaiement{{ facture.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ path('application_paiement_facture', { 'id' : facture.id }) }}" method="POST" id="formulaire_paiement_facture_{{ facture.id }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Détail Règlement de la facture N° {{ facture.numero }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="col-md-2">Statut  </p> <p class="col-md-4" style="margin-top:-5px">{{ form_widget(form.statut) }}</p>
                        <div class="montantPayerFacture" style="display: none"><p class="col-md-3">Montant payé * : </p> <p class="col-md-3" style="margin-top:-5px">{{ form_widget(form.montant_payer) }}</p></div>
                    </div>
                    <div class="row modePaiementFacture" style="display: none" >
                        <p class="col-md-4">Mode de paiement *  </p> <p class="col-md-4" style="margin-top:-5px">{{ form_widget(form.mode_paiement) }}</p>
                    </div>
                    <div class="row banqueFacture" style="display: none" >
                        <p class="col-md-4">Banque *  </p> <p class="col-md-4" style="margin-top:-5px">{{ form_widget(form.banque) }}</p>
                    </div>
                    <div class="row datePaiementFacture" style="display: none">
                        <p class="col-md-4">Date de paiement *  </p> <p class="col-md-4" style="margin-top:-5px">{{ form_widget(form.date_paiement) }}</p>
                    </div>
                    <div class="row commentaireFacture" style="">
                        <p class="col-md-4 label_commentaire_facture">Commentaire </p> <p class="col-md-8" style="margin-top:-5px">{{ form_widget(form.commentaire) }}</p>
                    </div>

                </div>
                <input type="hidden" name="montantFacture" class="montantFactureHidden" value="{{ facture.montant }}" >

                {% set montantDejaRegler = 0 %}
                {% if facture.historiquesPaiement | length > 0 %}
                    <aside style="background-color: #ececec;padding: 4px 10px 10px 10px;width: 80%;margin: auto;border-radius: 2px;margin-bottom: 19px;">
                        <h5 style="text-align:center;color:#428bca;margin-bottom: 16px;">Historique des réglements</h5>
                        {% for historique in facture.historiquesPaiement | reverse %}
                            <p style="font-size:13px;line-height: 8px;"> - <b>{{ historique.dateHeure | date ('d/m/Y') }}</b> à {{ historique.dateHeure | date ('H:i')}} / <b>{{ historique.statut | capitalize }}</b> / <b>{{ historique.modePaiement | capitalize }}</b> / <b>{{ historique.montant }}</b> €</p> <br>
                            <span class="commentaire" style="display: block;margin-top: -29px;margin-left: 5px;font-size: 11px;color: #891c1c;margin-bottom: 10px;font-style: italic;">
                                {{ historique.commentaire }}
                            </span>
                            {% set montantDejaRegler = montantDejaRegler + historique.montant %}
                        {% endfor %}
                    </aside>
                {% endif %}
                <input type="hidden" name="montantFactureDejaRegler" class="montantFactureDejaReglerHidden" value="{{ montantDejaRegler }}" >

                <p class="error" style="display:none;text-align:center;color: red;font-size: 13px;">Le montant total réglé est différent de celui de la facture.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    {{ form_widget(form.save, { 'attr' : {'data-form-submit' : "modalPaiement"~facture.id, 'class' : 'submit-form-paiement btn-primary btn'  } }) }}
                </div>
                {{ form_rest(form) }}
            </form>


        </div>
    </div>
</div>