<!-- Modal -->
<div class="modal fade" id="modalPaiement{{ facture.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ path('application_paiement_facture', { 'id' : facture.id }) }}" method="POST" id="formulaire_paiement_facture_{{ facture.id }}" class="formulaire_paiement_facture" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Détail Règlement de la facture N° {{ facture.numero }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="col-md-2">Statut  </p> <p class="col-md-4" style="margin-top:-5px">{{ form_widget(form.statut, {'value' : ''}) }}</p>
                        <div class="montantPayerFacture" style="display: none"><p class="col-md-3">Montant payé * : </p> <p class="col-md-3" style="margin-top:-5px">{{ form_widget(form.montant_payer, {'value' : ''}) }}</p></div>
                    </div>
                    <div class="row modePaiementFacture" style="display: none" >
                        <p class="col-md-4">Mode de paiement *  </p> <p class="col-md-4" style="margin-top:-5px">{{ form_widget(form.mode_paiement, {'value' : ''}) }}</p>
                    </div>
                    <div class="row banqueFacture" style="display: none" >
                        <p class="col-md-4">Banque *  </p> <p class="col-md-4" style="margin-top:-5px">{{ form_widget(form.banque, {'value' : ''}) }}</p>
                    </div>
                    <div class="row datePaiementFacture" style="display: none">
                        <p class="col-md-4">Date de paiement *  </p> <p class="col-md-4" style="margin-top:-5px">{{ form_widget(form.date_paiement, {'value' : ''}) }}</p>
                    </div>
                    <div class="row commentaireFacture" style="">
                        <p class="col-md-4 label_commentaire_facture">Commentaire </p> <p class="col-md-8" style="margin-top:-5px">{{ form_widget(form.commentaire, {'value' : ''}) }}</p>
                    </div>

                </div>
                <input type="hidden" name="montantFacture" class="montantFactureHidden" value="{{ facture.montant }}" >

                {% if facture.historiquesPaiement | length > 0 %}
                    <aside style="background-color: #ececec;padding: 4px 10px 10px 10px;width: 80%;margin: auto;border-radius: 2px;margin-bottom: 6px;">
                        <h5 style="text-align:center;color:#428bca;margin-bottom: 16px;">Historique des réglements</h5>
                        {% for historique in facture.historiquesPaiement | reverse %}
                            <p style="font-size:11px;line-height: 4px;"> - Le {{ historique.dateHeure | date ('d/m/Y') }} à {{ historique.dateHeure | date ('H:i')}} : </p>
                            <p style="font-size:13px;line-height: 8px;margin-left: 14px;"><b>{{ historique.statut | capitalize }}</b> / <b>{{ historique.modePaiement | capitalize }}</b> le <b>{{ (historique.datePaiement is not null) ? historique.datePaiement| date('d/m/Y') : 'N.C.'  }}</b> / <b>{{ historique.montant }}</b> €</p>
                            <span class="commentaire" style="display: block;margin-top: -10px;margin-left: 14px;font-size: 11px;color: #891c1c;margin-bottom: 10px;font-style: italic;">
                                {{ historique.commentaire }}
                            </span>
                        {% endfor %}
                    </aside>
                {% endif %}
                {{ form_widget(form.montantFactureDejaReglerHidden, { 'attr' : {'class' : 'montantFactureDejaReglerHidden', 'value' : facture.montantPayer }}) }}

                <p class="bg-info" style="text-align: right;font-size: 12px;width: 80%;margin: auto;padding: 2px 6px;border-radius: 2px;margin-bottom: 16px;">Montant réglé : <b>{{ facture.montantPayer }}</b> sur {{ facture.montant }} €</p>
                <p class="error" style="display:none;text-align:center;color: red;font-size: 13px;">Le montant total réglé est différent de celui de la facture.</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    {{ form_widget(form.save, { 'attr' : {'data-form-submit' : "modalPaiement"~facture.id, 'class' : 'submit-form-paiement btn-primary btn'  } }) }}
                </div>
                {{ form_rest(form) }}
            </form>


        </div>
    </div>
</div>