<form method="POST" id="newsForm" action="{{ path('application_new_news', { 'id' : beneficiaire.id }) }}" >
    <div>
        {{ form_label(form.statut) }}
        {{ form_widget(form.statut, {'attr' : {'class': 'statut'}}) }}
        {{ form_label(form.detailStatut, '' ,{'label_attr' : {'class': 'labelDetailStatut'}}) }}<div style="display:none" class="block_info_chargement"><img class="img_loading" src="{{ asset('images/ajax-loader.gif') }}" /> <span class="message_chargement text-info"><i>Chargement de la liste</i></span></div>
        {{ form_widget(form.detailStatut, {'attr' : {'class': 'detailStatut', 'disabled':'disabled'}}) }}
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
        <div class="submit_news" style="text-align: right;margin-top: 14px;width: 95%;margin-bottom: 0px;">
            {{ form_widget(form.Enregistrer) }}
        </div>
        {{ form_rest(form) }}
    </div>
</form>