<div id="afficheListNews">
        <h5 style="text-decoration: underline">Toutes les News</h5>
            {% for news in beneficiaire.news %}

                <div class="row newsBoucle">
                    <div class="col-sm-2"><span> {{ news.dateHeure|date('d/m/Y à h:m') }} </span></div>
                    <div class="col-sm-1" style="padding-bottom: 10px "><span>{{ news.statut.nom }}</span></div>
                    <div class="col-sm-3"><span>{{ news.detailStatut.detail }}</span></div>
                    <div class="col-sm-3"><span>{{ news.message }}</span></div>
                    <div class="btn col-sm-1">
                        <a href="{{ path('application_delete_news', { 'id': news.id }) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                    <div class="btn col-sm-1" style="text-align: center">
                        <div>
                            <span data-toggle="modal" data-target="#myModalNewsModify{{ loop.index }}" class="glyphicon glyphicon-pencil"></span>
                        </div>

                        <div class="modal fade" id="myModalNewsModify{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Modifier News</h4>
                                    </div>
                                        <form method="POST" id="newsForm" action="{{ path('application_edit_news', { 'id' : news.id }) }}" >
                                            {{ render(controller("ApplicationPlateformeBundle:News:update",{'id': news.id})) }}
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
</div>