{{ form_start(form, {'method': 'POST', 'attr': {'class' : 'container-fluid'}}) }}
<div class="row">
    <div id="infos" class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><span>Identité Bureau</span></div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Nom du Bureau :</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.nombureau) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Adresse :</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.adresse) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Code Postal :</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.code_postal) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Ville :</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.ville_select) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Accès :</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.acces) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Commentaire :</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.commentaire) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Entheor.com :</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.enabledEntheor) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 site_entheor">
        <div id="metas">
            <div class="panel panel-default">
                <div class="panel-heading">Métas</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Title :</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.metaTitle) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Description :</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.metaDescription) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="panel panel-default">
                <div class="panel-heading">Content Page</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div id="input_images">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Bannière (image) :</label>
                                <div class="col-sm-10">
                                    {% if bureau.banner is not null %}
                                        <div id="banner_image_modify">
                                            <a class="text-info" href="{{ asset('uploads/bureau/' ~ bureau.banner ) }}"
                                               target="_blank"><u>Voir</u></a>
                                            <span class="cursor_pointer text-info"
                                                  onclick="switchInput($('#banner_image_modify'), $('#banner_image_input'))"><u>Modifier</u></span>
                                        </div>
                                        <div class="collapse" id="banner_image_input">
                                            {{ form_widget(form.banner_image) }}
                                            <span class="cursor_pointer text-danger"
                                                  onclick="switchInput($('#banner_image_modify'), $('#banner_image_input'))"><u>Annuler</u></span>
                                        </div>
                                    {% else %}
                                        {{ form_widget(form.banner_image) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Image 1 (image) :</label>
                                <div class="col-sm-10">
                                    {% if bureau.firstImage is not null %}
                                        <div id="first_image_modify">
                                            <a class="text-info" href="{{ asset('uploads/bureau/' ~ bureau.firstImage ) }}"
                                               target="_blank"><u>Voir</u></a>
                                            <span class="cursor_pointer text-info"
                                                  onclick="switchInput($('#first_image_modify'), $('#first_image_input'))"><u>Modifier</u></span>
                                        </div>
                                        <div class="collapse" id="first_image_input">
                                            {{ form_widget(form.first_image) }}
                                            <span class="cursor_pointer text-danger"
                                                  onclick="switchInput($('#first_image_modify'), $('#first_image_input'))"><u>Annuler</u></span>
                                        </div>
                                    {% else %}
                                        {{ form_widget(form.first_image) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Image 2 (image) :</label>
                                <div class="col-sm-10">
                                    {% if bureau.secondImage is not null %}
                                        <div id="second_image_modify">
                                            <a class="text-info" href="{{ asset('uploads/bureau/' ~ bureau.secondImage ) }}"
                                               target="_blank"><u>Voir</u></a>
                                            <span class="cursor_pointer text-info"
                                                  onclick="switchInput($('#second_image_modify'), $('#second_image_input'))"><u>Modifier</u></span>
                                        </div>
                                        <div class="collapse" id="second_image_input">
                                            {{ form_widget(form.second_image) }}
                                            <span class="cursor_pointer text-danger"
                                                  onclick="switchInput($('#second_image_modify'), $('#second_image_input'))"><u>Annuler</u></span>
                                        </div>
                                    {% else %}
                                        {{ form_widget(form.second_image) }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Image 3 (image) :</label>
                                <div class="col-sm-10">
                                    {% if bureau.thirdImage is not null %}
                                        <div id="third_image_modify">
                                            <a class="text-info" href="{{ asset('uploads/bureau/' ~ bureau.thirdImage ) }}"
                                               target="_blank"><u>Voir</u></a>
                                            <span class="cursor_pointer text-info"
                                                  onclick="switchInput($('#third_image_modify'), $('#third_image_input'))"><u>Modifier</u></span>
                                        </div>
                                        <div class="collapse" id="third_image_input">
                                            {{ form_widget(form.third_image) }}
                                            <span class="cursor_pointer text-danger"
                                                  onclick="switchInput($('#third_image_modify'), $('#third_image_input'))"><u>Annuler</u></span>
                                        </div>
                                    {% else %}
                                        {{ form_widget(form.third_image) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Introduction :</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.intro) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Content :</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.content) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-40">
    <div class="col-md-4 text-right">
        {{ form_widget(form.submit) }}
        <div class="form-error">
            {{ form_errors(form) }}
        </div>
        {{ form_rest(form) }}
    </div>
</div>
{{ form_end(form) }}