<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% if app.environment == 'dev' %} {{ 'DEV ' }} {% endif %} ENTHEO - {% block title %}Accueil{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% stylesheets filter="cssrewrite, ?scssphp"
        '@ApplicationPlateformeBundle/Resources/public/css/main.css'
        '@ApplicationUsersBundle/Resources/public/css/facturation.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/profile.css') }}" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>
    {% block masque %}
        <div id="freeze">
            {#<img src="{{ asset('images/ajax-loader.gif') }}" alt="loader">#}
        </div>
    {% endblock %}
    {% block navbar %}
    <header> 
        <!-- MENU-->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('application_plateforme_homepage')}}">{% if app.environment == 'dev' %} {{ 'DEV ' }} {% endif %} Entheo</a>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('application_add_beneficiaire') }}">Ajout Bénéficiaires</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('application_index_bureau') }}">Bureaux</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('application_list_facture_home') }}" target="_blank">Factures</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('application_mission_admin_index') }}" target="_blank">Missions</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Script</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('application_csv_getFileEmployeur') }}">Commercial</a></li>
                                            </ul>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Stats</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a tabindex="-1" href="{{ path('appel_homepage') }}">Appels Leads</a>
                                                    <ul class="dropdown-menu">
                                                        {{ render(controller("ApplicationUsersBundle:Users:getAllCommercial")) }}
                                                    </ul>
                                                </li>
                                                <li><a href="{{ path('stat_commercial_home') }}">Commercial</a></li>
                                                <li><a href="{{ path('ecole_universite_homepage') }}">Ecole/Université</a></li>
                                            </ul>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-submenu">
                                            <a tabindex="-1" href="#">Utilisateurs</a>
                                            <ul class="dropdown-menu">
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <li><a href="{{ path('user_type', {'typeUser': 'admin' })~'?actif=true' }}">Administrateurs</a></li>
                                                {% endif %}
                                                <li><a href="{{ path('user_type', {'typeUser': 'consultant' })~'?actif=true' }}">Consultants VAE</a></li>
                                                <li><a href="{{ path('user_type', {'typeUser': 'commercial' })~'?actif=true' }}">Commerciaux Téléphone</a></li>
                                                <li><a href="{{ path('user_type', {'typeUser': 'gestion' })~'?actif=true' }}">Gestionnaires Administratifs</a></li>
                                                <li><a href="{{ path( 'referent_index' ) }}">Consultants Référents</a></li>
                                            </ul>
                                        </li>
                                        {# if is_granted('ROLE_ADMIN') %}
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{{ path('application_feedback_list') }}">Feed Back</a></li>
                                        {% endif #}
                                    </ul>
                                </li>
                            {% endif %}

                            <!--<li><a href="#contact">Centre Ressources</a></li>-->
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                <li class="dropdown">
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistiques <span class="caret"></span></a>-->
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Bénéficiaires par période</a></li>
                                        <li><a href="#">Suivi des Contacts Mer</a></li>
                                    </ul>
                                </li>
                                <!--<li><a href="#contact">Scripts</a></li>-->
                                <li><a href="{{ path('application_admin_add_evenement') }}" target="_blank">Agenda</a></li>

                            {% elseif is_granted('ROLE_CONSULTANT') %}
                                <li><a href="{{ path('application_admin_add_evenement') }}" target="_blank">Agenda</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                <li><a href="{{ path('application_show_bureau') }}" target="_blank">Agenda Bureau</a></li>
                            {% endif %}
                            <li><a href="https://webmail.1and1.fr/" target="_blank">Webmail</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right nav-connexion">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feed Back <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a style="color:black" href="{{ path('application_feedback_bug') }}">Un Bug</a></li>
                                    <li><a style="color:black" href="{{ path('application_feedback_proposition') }}">Une Proposition</a></li>
                                    <li><a style="color:black" href="{{ path('application_feedback_question') }}">Une Question</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ressources Partagées <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a style="color:black;width:100%" href="{{ asset('public-ressources/Liste_diplomes_et_referentiels_2018.docx.dot') }}" target="_blank">Référentiels Diplômes</a></li>
                                    <li><a style="color:black;width:100%" href="https://drive.google.com/drive/folders/14Kt7UEs4OKo6e0U4yaj3S5nBK_0DQ7RV?usp=sharing_eip&ts=5ae9d449" target="_blank" title="Drive Enthéor">Drive Enthéor</a></li>
                                    {{ render(controller("ApplicationPlateformeBundle:RubriqueRessource:listForLayout")) }}
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL')%}
                                        <li><a style="color:black;width:100%" href="{{ path('application_index_ressource') }}">Tout voir</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="{{ path('my_account') }}">Mon compte</a></li>
                            <li >
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ app.user.username }} |
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}
                            </li>

                        </ul>

                    </div>
                {% endif %}
            </div>
        </nav>
    </nav>
        {% endblock %}
{% block header %}{% endblock %}
</header>

<div id="content" style="margin-top: 7px;">
{% block menuLeft %}{% endblock %}
{% block body %}{% endblock %}
</div>

<footer>

</footer>  

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% javascripts filter="?jsqueeze"
    '@ApplicationPlateformeBundle/Resources/public/js/main.js'
    '@ApplicationUsersBundle/Resources/public/js/form.js'
    '@ApplicationUsersBundle/Resources/public/js/facturation.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/profile.js') }}"></script>
{% endblock %}
</body>
</html>