{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="page-header">
        <h1>Gestion - Utilisateurs<br><small>Ajouter un utilisateur</small></h1>
    </div>
    <div class="panel panel-default" style="width:65%;margin:auto;margin-bottom:40px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    {{ form_label(form.roles) }}
                    {{ form_errors(form.roles) }}
                    {{ form_widget(form.roles) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.email, "Email *") }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.email2) }}
                    {{ form_errors(form.email2) }}
                    {{ form_widget(form.email2) }}
                </div>

                <div class="col-md-12">
                    {{ form_label(form.username, "Login *") }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}
                </div>

                <div class="col-md-6">
                    {{ form_label(form.plainPassword.first, "Mot de passe *") }}
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.plainPassword.second, "Répéter le mot de passe *") }}
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                </div>

                <div class="col-md-12">
                    {{ form_label(form.civilite) }}
                    {{ form_errors(form.civilite) }}
                    {{ form_widget(form.civilite) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.nom, "Nom *") }}
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.prenom, "Prénom *") }}
                    {{ form_errors(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                </div>

                <div class="col-md-6">
                    {{ form_label(form.tel1) }}
                    {{ form_errors(form.tel1) }}
                    {{ form_widget(form.tel1) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.tel2) }}
                    {{ form_errors(form.tel2) }}
                    {{ form_widget(form.tel2) }}
                </div>

               
                <div class="col-md-6 block_form_format_presence" style="display:none" >
                    {{ form_label(form.distanciel, "Format *") }}
                    {{ form_errors(form.distanciel) }}
                    {{ form_widget(form.distanciel) }}
                </div>

                <div class="col-md-12 block_form_calendar_id" style="display:none">
                    {{ form_label(form.calendrierid) }}
                    {{ form_errors(form.calendrierid) }}
                    {{ form_widget(form.calendrierid) }}
                </div>

                <div class="col-md-12 block_form_calendar_uri" style="display:none">
                    {{ form_label(form.calendrieruri) }}
                    {{ form_errors(form.calendrieruri) }}
                    {{ form_widget(form.calendrieruri) }}
                </div>
                <div class="col-md-6 block_form_departement" style="display:none">
                    {{ form_label(form.departement) }}
                    {{ form_errors(form.departement) }}
                    {{ form_widget(form.departement) }}
                </div>
                <div class="col-md-6 block_form_ville" style="display:none">
                    {{ form_label(form.ville) }}<div style="display:none" class="block_info_chargement"><img class="img_loading" src="{{ asset('images/ajax-loader.gif') }}" /> <span class="message_chargement text-info"><i>Chargement de la liste</i></span></div>
                    {{ form_errors(form.ville) }}
                    {{ form_widget(form.ville, {'attr' : {"class":"villeAjax"} }) }}
                </div>
                <div class="col-md-12 block_form_adresse" style="display:none">
                    {{ form_label(form.adresse) }}
                    {{ form_errors(form.adresse) }}
                    {{ form_widget(form.adresse) }}
                </div>
                <div class="col-md-12 block_form_adresse" style="display:none">
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="col-md-6 block_form_format_presence" style="display:none" >
                    {{ form_label(form.bureaux) }}
                    {{ form_errors(form.bureaux) }}
                    {{ form_widget(form.bureaux) }}
                </div>
                <br>
                <div class="col-md-4">
                    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary btn-block" style="margin-top:20px;"/>
                </div>
                {{ form_rest(form) }}
                <div class="col-md-12">
                    <p><i>* champs obligatoires</i></p>
                </div>
            </div>
        </div>
    </div>























{# form_end(form) #}
