<!-- Modal -->
<div class="modal fade" id="modifyRubrique{{ rubrique.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form method="POST" id="" action="{{ path('application_update_rubrique_ressource', { 'id' : rubrique.id }) }}" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modifier une rubrique</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label>{{ form_label(edit_form.nom) }}</label>
                            {{ form_widget(edit_form.nom) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>

                    {{ form_widget(edit_form.submit, {'attr': {'class' : 'btn-warning btn'}}) }}
                    <td>{{ form_rest(edit_form) }}</td>
                    <td>{{ form_errors(edit_form) }}</td>
                </div>
            </div>
        </form>
    </div>
</div>


