{% extends "ApplicationPlateformeBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/print.css') }}" type="text/css" media="print">
{% endblock %}

{% block title %}Fiche bénéficiaire{% endblock %}

{% block body %}
    <div class="overlay" id="loading">
        <div class="overlay-content">
            <div>Téléchargement du fichier en cours...</div>
            <div class="loader">Loading...</div>
        </div>
    </div>
    <div id="flashbag" class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('info') %}
                    {% if message != 'not message' %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="imprimer">
        {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:print",{'id': beneficiaire.id })) }}
    </div>
    <div id="afficheBeneficiaire" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <div id="editBeneficiaire" class="tableOnglet">
                        <table>
                            <caption class="titreSection" style="position: relative">
                                <a href="#collapseFicheBeneficiaire" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseFicheBeneficiaire">
                                    <span class="glyphicon glyphicon-minus"></span>
                                    <span>Fiche Bénéficiaire</span>
                                </a>
                                <span onclick="window.print()" title="imprimer cette fiche" class="btn btn-bg glyphicon glyphicon-print" style="position: absolute;right: 1px;top: -1px;"></span>
                            </caption>
                        </table>
                        <div class="collapse in" id="collapseFicheBeneficiaire">
                            <form action="{{ path('application_show_beneficiaire', { 'id':beneficiaire.id }) }}" method="POST" id="ficheBeneficiaireForm">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>{{ form_label(edit_form.dateConfMer) }}</td>
                                            <td>{{ form_widget(edit_form.dateConfMer) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.civiliteConso) }}</td>
                                            <td>{{ form_widget(edit_form.civiliteConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.nomConso) }}</td>
                                            <td>{{ form_widget(edit_form.nomConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.prenomConso) }}</td>
                                            <td>{{ form_widget(edit_form.prenomConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.poste) }}</td>
                                            <td>{{ form_widget(edit_form.poste) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.csp )}}</td>
                                            <td>{{ form_widget(edit_form.csp) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.type) }}</td>
                                            <td>{{ form_widget(edit_form.type) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="tableSection">Coordonnées</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.telConso) }}</td>
                                            <td>{{ form_widget(edit_form.telConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.tel2) }}</td>
                                            <td>{{ form_widget(edit_form.tel2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.emailConso) }}</td>
                                            <td>{{ form_widget(edit_form.emailConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.email2) }}</td>
                                            <td>{{ form_widget(edit_form.email2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="tableSection">Adresse Bénéficiaire</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.adresse) }}{{ form_widget(edit_form.proposition_adresse, {'attr':{'value': beneficiaire.adresse}}) }}</td>
                                            <td>{{ form_widget(edit_form.adresse) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.adresseComplement) }}</td>
                                            <td>{{ form_widget(edit_form.adresseComplement) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.code_postal) }}</td>
                                            <td>{{ form_widget(edit_form.code_postal, {'attr':{'value': beneficiaire.ville.cp }}) }}</td>
                                        </tr>
                                        {% if beneficiaire.ville is not null %}
                                            <tr>
                                                <td>Ville </td>
                                                <td>{{ form_widget(edit_form.ville, {'attr':{'class': 'villeAjaxBeneficiaire' }}) }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>{{ form_label(edit_form.ville.nom) }}</td>
                                                <td>{{ form_widget(edit_form.ville.nom ) }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>{{ form_label(edit_form.pays) }}</td>
                                            <td>{{ form_widget(edit_form.pays) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.numSecu) }}</td>
                                            <td><span style="display: inline-block">{{ form_widget(edit_form.numSecu) }}</span><span style="display: inline-block;">{{ form_widget(edit_form.numSecuCle) }}</span></td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.dateNaissance) }}</td>
                                            <td>{{ form_widget(edit_form.dateNaissance) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="tableSection">
                                                Employeur
                                                {{ form_widget(edit_form.employeur.codePostalHiddenEmployeur, {'attr':{'value': codePostalHiddenEmployeur }}) }}
                                                {{ form_widget(edit_form.employeur.idVilleHiddenEmployeur, {'attr':{'value': idVilleHiddenEmployeur }}) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.employeur.raisonSociale) }}</td>
                                            <td>{{ form_widget(edit_form.employeur.raisonSociale) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.employeur.siret) }}</td>
                                            <td>{{ form_widget(edit_form.employeur.siret) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.employeur.conventionCollective) }}</td>
                                            <td>{{ form_widget(edit_form.employeur.conventionCollective) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.employeur.apeNace) }}</td>
                                            <td>{{ form_widget(edit_form.employeur.apeNace) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.employeur.adresse) }}</td>
                                            <td>{{ form_widget(edit_form.employeur.adresse) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.employeur.adresseComplement) }}</td>
                                            <td>{{ form_widget(edit_form.employeur.adresseComplement) }}</td>
                                        </tr>
                                        {% if beneficiaire.employeur is not null %}
                                            {% if beneficiaire.employeur.ville is not null %}
                                                <tr>
                                                    <td>{{ form_label(edit_form.employeur.code_postal) }}</td>
                                                    <td>{{ form_widget(edit_form.employeur.code_postal, {'attr':{'value': beneficiaire.employeur.ville.cp }}) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ville </td>
                                                    <td>{{ form_widget(edit_form.employeur.ville, {'attr':{'class': 'villeAjaxEmployeur' }}) }}</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td>{{ form_label(edit_form.employeur.code_postal) }}</td>
                                                    <td>{{ form_widget(edit_form.employeur.code_postal) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ form_label(edit_form.employeur.ville) }}</td>
                                                    <td>{{ form_widget(edit_form.employeur.ville, {'attr':{'class': 'villeAjaxEmployeur' }}) }}</td>
                                                </tr>
                                            {% endif %}
                                        {% else %}
                                            <tr>
                                                <td>{{ form_label(edit_form.employeur.code_postal) }}</td>
                                                <td>{{ form_widget(edit_form.employeur.code_postal) }}</td>
                                            </tr>
                                            <tr>
                                                <td>Ville </td>
                                                <td>{{ form_widget(edit_form.employeur.ville, {'attr':{'class': 'villeAjaxEmployeur' }}) }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>{{ form_label(edit_form.pays) }}</td>
                                            <td>{{ form_widget(edit_form.pays) }}</td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td class="tableSection">contact</td>
                                        </tr>
                                    </tbody>
                                </table>
                                {# ajout modification de contact #}
                                        <div>
                                            <div class="contact_employeur">{{ form_widget(edit_form.contactEmployeur) }}</div>
                                        </div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>{{ form_errors(edit_form) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="valider">{{ form_widget(edit_form.submit) }}</td>
                                        </tr>
                                        <tr class="form-rest">
                                            <td>{{ form_rest(edit_form) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <div id="statut" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseStatut" data-toggle="collapse" onclick="plusMoins(this);" role="button" aria-expanded="false" aria-controls="collapseStatut"><span class="glyphicon glyphicon-minus"></span><span>Statut</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseStatut">
                            {% if(beneficiaire.news | length > 0) %}
                                {% set derniere_news = beneficiaire.news[beneficiaire.news | length -1] %}
                            {% endif %}
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Statut</td>
                                        <td><a href="#" title="Mise à jour du statut bénéficiaire maj" style="color:#337ab7;text-decoration:underline;" id="{{ beneficiaire.id }}" data-toggle="modal" data-target="#block_formulaire_ajout_new" class="link_formulaire_add_news maj">{{ beneficiaire.news | length > 0 ? derniere_news.statut.nom : 'Maj Statut' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Détail Statut</td>
                                        <td>{{ beneficiaire.news | length > 0 ? derniere_news.detailStatut.detail : '' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <aside class="modal fade block_formulaire_ajout_new" id="block_formulaire_ajout_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header my_header_modal">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Maj Statut bénéficiaire</h4>  
                                        </div>
                                        <div class="modal-body">        
                                            <form method="POST" id="newsForm" action="{{ path('application_new_news', { 'id' : beneficiaire.id }) }}" >
                                                {{ render(controller("ApplicationPlateformeBundle:News:new",{'id': beneficiaire.id })) }}
                                                <input type="hidden" id="statutIDCurrentBlockStatut" value="{{ beneficiaire.news | length > 0 ? derniere_news.statut.id : '1' }}" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>

                    <div class="tableOnglet" id="agenda_consultant_pour_beneficiaire">
                        <table>
                            <caption class="titreSection"><a  id="agendaCollapse" href="#collapseAgenda" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseHistorique"><span class="glyphicon glyphicon-minus"></span><span>Rendez-vous</span></a></caption>
                        </table>
                        <div id="collapseAgenda" class="collapse in">
                            {% if beneficiaire.consultant is not null %}
                                <div>
                                    <div>
                                        <span id="labelConsultant">Consulant :</span>
                                        <span id="nomPrenomConsultant"><span>{{ beneficiaire.consultant.prenom|capitalize~" "~beneficiaire.consultant.nom|capitalize~" " }}</span>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                            <span class="modifierConsultant maj" data-toggle="modal" data-target="#myModal">Modifier</span>
                                {% endif %}
                                        </span>
                                    </div>
                                    <div>
                                        <a style="width:90px; padding: 0px 12px;" title="Voir l'agenda" alt="Voir l'agenda" href="{{ path('application_add_evenement', { 'id' : beneficiaire.id }) }}" target="_blank" class="btn btn-info"  type="button" >Agenda</a>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <div>
                                        <span id="labelConsultant">Consulant :</span>
                                        <span>
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                            <span class="modifierConsultant" data-toggle="modal" data-target="#myModal">Ajouter un consultant</span>
                                {% endif %}
                                        </span>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Changement de Consultant</h4>
                                </div>
                                <form action="{{ path('application_edit_consultant_beneficiaire', { 'id' : beneficiaire.id }) }}" method="post">
                                    {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:editConsultant",{'id': beneficiaire.id})) }}
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="ProjetBeneficiaire" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseProjetBeneficiaire" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseProjetBeneficiaire"><span class="glyphicon glyphicon-minus"></span><span>Projet Bénéficiaire</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseProjetBeneficiaire">
                            <form method="POST" id="projetEditForm" action="{{ path('application_projet_beneficiaire', { 'id' : beneficiaire.id }) }}" >
                                <table>
                                    <tbody>
                                        {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:projet",{'id': beneficiaire.id})) }}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTION') %}
                    <div id="accompagnement" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseAccompagnement" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseAccompagnement"><span class="glyphicon glyphicon-minus"></span><span>Accompagnement</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseAccompagnement">
                            <form method="POST" id="accompagnementEditForm" action="{{ path('application_edit_accompagnement', { 'id' : beneficiaire.id }) }}" >
                                <table>
                                    <tbody>
                                        {{ render(controller("ApplicationPlateformeBundle:Accompagnement:show",{'id': beneficiaire.id})) }}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        {% if beneficiaire.accompagnement is not null %}
                            <div id="bloc_add_financment">
                                <div  class="modal fade" id="addfinancement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">Ajouter un Financement</h4>
                                            </div>
                                            {{ render(controller("ApplicationPlateformeBundle:Financeur:new",{'id': beneficiaire.id})) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
    {% endif %}
                    <div id="espaceDocumentaire" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseEspaceDocumentaire" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEspaceDocumentaire"><span class="glyphicon glyphicon-minus"></span><span>Espace Documentaire</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseEspaceDocumentaire">
                            <div>
                                <table class="table-condensed">
                                    <tbody>
                                    {% for document in beneficiaire.documents %}
                                        {% if 'pdf' in document.path %}
                                            {{ afficherDocument(beneficiaire, document.path) }}
                                            <tr>
                                                <td><a href="{{ asset('uploads/beneficiaire/documents/'~beneficiaire.id~'/'~document.path) }}" target="_blank"><span style="color: blue">{{ document.description }}</span></a></td>
                                                <td></td>
                                                <td class="btn" width="100%">
                                                        <span style="color: black;margin-left: 10px;margin-right: 10px" data-toggle="modal" data-target="#myModalDocumentDelete{{ loop.index }}" class="glyphicon glyphicon-remove"></span>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td><a href="{{ path('application_show_document', { 'path' : document.path }) }}" target="_blank"><span style="color: blue">{{ document.description }}</span></a></td>
                                                <td></td>
                                                <td class="btn" width="100%">
                                                    <span style="color: black;margin-left: 10px;margin-right: 10px" data-toggle="modal" data-target="#myModalDocumentDelete{{ loop.index }}" class="glyphicon glyphicon-remove"></span>
                                                </td>
                                            </tr>
                                        {% endif %}
                                        <div  class="modal fade" id="myModalDocumentDelete{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">Supprimer un document</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div>
                                                            <span>Voulez-vous vraiment supprimer ce Document?</span>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div>
                                                            <button type="button" class="btn btn-default deleteBtn" data-dismiss="modal">Annuler</button>
                                                            <a style="width: 95px;float: right" class="deleteBtn" href="{{ path('application_delete_document', { 'id': document.id }) }}">
                                                                <button class="btn btn-danger">Supprimer</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </table>
                            </div>
                            <div id="AjoutDocument" class="collapse in">
                                <a href="#" id="add_document" class="btn btn-primary maj">Ajouter un Document</a>
                                <form id="newDocumentsForm" action="{{ path('application_new_document', { 'id' : beneficiaire.id }) }}" method="POST" enctype="multipart/form-data">
                                    {{ render(controller("ApplicationPlateformeBundle:Document:new",{'id': beneficiaire.id})) }}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="satisfactionRecommandation" class="tableOnglet">
                        <table class="table-condensed">
                            <caption class="titreSection"><a href="#collapseSatisfationRecommandation" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSatisfactionRecommandation"><span class="glyphicon glyphicon-minus"></span><span>Satisfaction/Recommandation</span></a></caption>
                            <tbody class="collapse in" id="collapseSatisfationRecommandation">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <!-- ========= MAJ ======== -->
                    <div>
                        {#render(controller("ApplicationPlateformeBundle:Historique:agenda", {'id':beneficiaire.id}))#}
                    </div>
                    <div id="historique" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a  id="historiqueCollapse" href="#collapseHistorique" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseHistorique"><span class="glyphicon glyphicon-minus"></span><span>Historique bénéficiaire</span></a></caption>
                        </table>
                        <div id="collapseHistorique" class="collapse in">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                 {{ render(controller("ApplicationPlateformeBundle:Historique:showAll",{'beneficiaire': beneficiaire})) }}
                            </div>
                        </div>
                    </div>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GESTION') %}
                    <div id="suiviAdministratif" class="tableOnglet">
                            <table>
                                <caption class="titreSection"><a id="suiviAdministratifCollapse" href="#collapseSuiviAdministratif" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSuiviAdministratif"><span class="glyphicon glyphicon-minus"></span><span>Suivi Administratif</span></a></caption>
                            </table>
                            <div class="collapse in" id="collapseSuiviAdministratif">
                                {{ render(controller("ApplicationPlateformeBundle:SuiviAdministratif:showAll",{'beneficiaire': beneficiaire})) }}

                                <form method="POST" id="suiviAdministratifNewForm" class="suiviAdministratifForm" action="{{ path('application_new_suivi_administratif', { 'id' : beneficiaire.id }) }}" >
                                    <table>
                                        <tbody>
                                            {{ render(controller("ApplicationPlateformeBundle:SuiviAdministratif:new",{'id': beneficiaire.id})) }}
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            
                            {% if(beneficiaire.suiviAdministratif | length > 0) %}
                                {% set dernier_suivi = beneficiaire.suiviAdministratif[beneficiaire.suiviAdministratif | length -1] %}
                            {% endif %}
                            <!-- ID du statut du dernier suivi administratif du bénéficiaire ou celui de Recevabilité si aucun suivi encore. On s'en sert dans js pour avoir le statut suivant -->
                            <input type="hidden" value="{{ beneficiaire.suiviAdministratif | length > 0 ? dernier_suivi.statut.id : 7 }}" class="statutIDCurrentSuiviAd"/>
                            {% if app.environment == 'dev' %}
								<a class="btn btn-info" href="{{ path('application_new_demande_financement_pdf', {'id':beneficiaire.id}) }}">Générer Demande de Financement</a> 
							{% endif %}
					</div>
    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="news col-md-12">
                <h4 class="titreSection">NEWS</h4>
                <div id="tabNews">
                    <ul>
                        <li><a href="#tabs-1">Toutes les News</a></li>
                        <li><a href="#tabs-2">Ajouter une News</a></li>
                    </ul>
                    <div id="tabs-1">
                        {{ render(controller("ApplicationPlateformeBundle:News:showAll",{'beneficiaire': beneficiaire})) }}
                    </div>
                    <div id="tabs-2" class="col-md-3">
                        {{ render(controller("ApplicationPlateformeBundle:News:new",{'id': beneficiaire.id })) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
    <script type="text/javascript" src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/fr.js"></script>
    
    {% javascripts filter="?jsqueeze"
    '@ApplicationPlateformeBundle/Resources/public/js/beneficiaire.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock%}

