<div id="collapseAgenda" class="collapse in">
    {% if beneficiaire.consultant is not null %}
        <div>
            <div>
                <span id="labelConsultant">Consulant :</span>
                <span id="nomPrenomConsultant"><span>{{ beneficiaire.consultant.prenom|capitalize~" "~beneficiaire.consultant.nom|capitalize~" " }}</span>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                        <span class="modifierConsultant maj" data-toggle="modal" data-target="#myModal">Modifier</span>
                    {% endif %}
                </span>
            </div>
            <div>
                <a style="width:90px; padding: 0px 12px;" title="Voir l'agenda" alt="Voir l'agenda"
                   href="{{ path('application_add_evenement', { 'id' : beneficiaire.id }) }}" target="_blank"
                   class="btn btn-info" type="button">Agenda</a>
            </div>
        </div>
    {% else %}
        {% if beneficiaire.mission is not null %}
            {% if beneficiaire.mission.state == 'new' %}
                {% set color = '#f0c41a' %}
                {% set title = 'envoyé' %}
            {% elseif beneficiaire.mission.state == 'accepted'  %}
                {% set color = '#ff723d' %}
                {% set title = 'accepté' %}
            {% elseif beneficiaire.mission.state == 'confirmed' %}
                {% set color = '#05ff10' %}
                {% set title = 'confirmé' %}
            {% endif %}
            <div>
                <div>
                    <span id="labelConsultant">Consulant :</span>
                    <span title="{{ title }}" id="nomPrenomConsultant">
                        <span>{{ beneficiaire.mission.consultant.prenom|capitalize~" "~beneficiaire.mission.consultant.nom|capitalize~" " }}</span>
                        {#{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}#}
                        {#<span class="modifierConsultant" data-toggle="modal" data-target="#myModal">Ajouter un consultant</span>#}
                        {#{% endif %}#}
                        <span class="glyphicon glyphicon-stop" style="color : {{ color }}"></span>
                    </span>
                </div>
            </div>
        {% else %}
            <div>
                <div>
                    <span id="labelConsultant">Consulant :</span>
                    <span>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                        <span class="modifierConsultant" data-toggle="modal" data-target="#myModal">Ajouter un consultant</span>
                                    {% endif %}
                                            </span>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>