{% extends "ApplicationPlateformeBundle::layout.html.twig" %}

{% block body %}
    <div id="flashbag" class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('info') %}
                    <h4 class="titreSection">Message flash : {{ message }}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="afficheBeneficiaire" class="container">
        <!--<div class="row">
            <div class="col-md-12">
                <div class="url_agenda">
                    {#% if is_granted('ROLE_ADMIN') %#}
                        <a href="{#{ path('application_plateforme_agenda') }#}" target="_blank">Ajouter un evenement</a>
                    {#% elseif is_granted('ROLE_CONSULTANT') %#}
                        <a href="{#{ path('application_plateforme_agenda', {'userid':app.user.id}) }#}" target="_blank">Ajouter un evenement</a>
                    {#% endif %#}
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <div id="editBeneficiaire" class="tableOnglet">
                        <form action="{{ path('application_show_beneficiaire', { 'id':beneficiaire.id }) }}" method="POST" id="ficheBeneficiaireForm">
                            <table>
                                <caption class="titreSection">Fiche Bénéficiaire</caption>
                                <tr>
                                    <td>{{ form_label(edit_form.dateConfMer) }}</td>
                                    <td>{{ form_widget(edit_form.dateConfMer) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.civiliteConso) }}</td>
                                    <td>{{ form_widget(edit_form.civiliteConso) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.nomConso) }}</td>
                                    <td>{{ form_widget(edit_form.nomConso) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.prenomConso) }}</td>
                                    <td>{{ form_widget(edit_form.prenomConso) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.poste) }}</td>
                                    <td>{{ form_widget(edit_form.poste) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.encadrement) }}</td>
                                    <td>{{ form_widget(edit_form.encadrement) }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="tableSection">Coordonnées</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.telConso) }}</td>
                                    <td>{{ form_widget(edit_form.telConso) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.tel2) }}</td>
                                    <td>{{ form_widget(edit_form.tel2) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.emailConso) }}</td>
                                    <td>{{ form_widget(edit_form.emailConso) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.email2) }}</td>
                                    <td>{{ form_widget(edit_form.email2) }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="tableSection">Adresse Bénéficiaire</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.adresse) }}</td>
                                    <td>{{ form_widget(edit_form.adresse) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.adresseComplement) }}</td>
                                    <td>{{ form_widget(edit_form.adresseComplement) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.ville.cp) }}</td>
                                    <td>{{ form_widget(edit_form.ville.cp) }}</td>
                                </tr>
                                {% if beneficiaire.ville is not null %}
                                    <tr>
                                        <td>{{ form_label(edit_form.ville.nom) }}</td>
                                        <td>{{ form_widget(edit_form.ville.nom,  {'attr': {'value': beneficiaire.ville.nom, 'text': beneficiaire.ville.nom}}) }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ form_label(edit_form.ville.nom) }}</td>
                                        <td>{{ form_widget(edit_form.ville.nom ) }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>{{ form_errors(edit_form.ville.nom) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.pays) }}</td>
                                    <td>{{ form_widget(edit_form.pays) }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.numSecu) }}</td>
                                    <td>{{ form_widget(edit_form.numSecu) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_label(edit_form.dateNaissance) }}</td>
                                    <td>{{ form_widget(edit_form.dateNaissance) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_errors(edit_form) }}</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td class="valider">{{ form_widget(edit_form.submit) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form_rest(edit_form) }}</td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <div id="statut" class="tableOnglet">
                        <table>
                            <caption class="titreSection">Statut</caption>
                            <tr>
                                {% if(beneficiaire.news | length > 0) %}
                                    {% set derniere_news = beneficiaire.news[beneficiaire.news | length -1] %}
                                {% endif %}
                                <td>Statut :</td>
                                <td>{{ beneficiaire.news | length > 0 ? derniere_news.statut.nom : '' }}</td>
                            </tr>
                            <tr>
                                <td>Détail :</td>
                                <td>{{ beneficiaire.news | length > 0 ? derniere_news.detailStatut.detail : '' }}</td>
                            </tr>
                            <tr>
                                <td>Gestionnaire Administratif</td>
                                <td>Select</td>
                            </tr>
                        </table>
                    </div>
                    <div id="ProjetBeneficiaire" class="tableOnglet">
                        <form method="POST" id="projetEditForm" action="{{ path('application_projet_beneficiaire', { 'id' : beneficiaire.id }) }}" >
                            <table>
                                <caption class="titreSection">Projet Bénéficiaire</caption>
                                {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:projet",{'id': beneficiaire.id})) }}
                            </table>
                        </form>
                    </div>
    {% if is_granted('ROLE_ADMIN') %}
                    <div id="accompagnement" class="tableOnglet">
                        <form method="POST" id="accompagnementEditForm" action="{{ path('application_edit_accompagnement', { 'id' : beneficiaire.id }) }}" >
                            <table>
                                <caption class="titreSection">Accompagnement</caption>
                                {{ render(controller("ApplicationPlateformeBundle:Accompagnement:show",{'id': beneficiaire.id})) }}
                            </table>
                        </form>
                        <form action="{{ path('application_edit_consultant_beneficiaire', { 'id' : beneficiaire.id }) }}" method="post">
                            <table class="table-condensed">
                                {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:editConsultant",{'id': beneficiaire.id})) }}
                            </table>
                        </form>
                    </div>
    {% endif %}
                    <div id="espaceDocumentaire" class="tableOnglet">
                        <table class="table-condensed">
                            <caption class="titreSection">Espace Documentaire</caption>
                            {% for document in beneficiaire.documents %}
                                <tr>
                                    <td>{{ document.description }}</td>
                                    <td><a href="{{ path('application_show_document', { 'path' : document.path }) }}" target="_blank"><span>voir le document</span></a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <form id="newDocumentsForm" action="{{ path('application_new_document', { 'id' : beneficiaire.id }) }}" method="POST" enctype="multipart/form-data">
                            {{ render(controller("ApplicationPlateformeBundle:Document:new",{'id': beneficiaire.id})) }}
                        </form>
                    </div>
                    <div id="satisfactionRecommandation" class="tableOnglet">
                        <table class="table-condensed">
                            <caption class="titreSection">Satisfaction/Recommandation</caption>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <!-- ========= MAJ ======== -->
                    <div>
                        {#render(controller("ApplicationPlateformeBundle:Historique:agenda", {'id':beneficiaire.id}))#}
                    </div>
                    <div id="historique" class="tableOnglet">
                        <table>
                            {{ render(controller("ApplicationPlateformeBundle:Historique:showAll",{'beneficiaire': beneficiaire})) }}
                        </table>
                    </div>
    {% if is_granted('ROLE_ADMIN') %}
                    <div id="suiviAdministratif" class="tableOnglet">
                        <form method="POST" id="suiviAdministratifEditForm" action="{{ path('application_edit_suivi_administratif', { 'id' : beneficiaire.id }) }}" >
                            <table>
                                {{ render(controller("ApplicationPlateformeBundle:SuiviAdministratif:showAll",{'beneficiaire': beneficiaire})) }}
                            </table>
                        </form>
                    </div>
    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="news col-md-12">
                <h4 class="titreSection">NEWS</h4>
                <div id="tabNews">
                    <ul>
                        <li><a href="#tabs-1">toutes les News</a></li>
                        <li><a href="#tabs-2">Ajouter une News</a></li>
                    </ul>
                    <div id="tabs-1">
                        {{ render(controller("ApplicationPlateformeBundle:News:showAll",{'beneficiaire': beneficiaire})) }}                    </div>
                    <div id="tabs-2" class="col-md-3">
                        {{ render(controller("ApplicationPlateformeBundle:News:new",{'id': beneficiaire.id })) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}