{% extends "ApplicationPlateformeBundle::layout.html.twig" %}

{% block body %}
    <div class="overlay" id="loading">
        <div class="overlay-content">
            <div>Téléchargement du fichier en cours...</div>
            <div class="loader">Loading...</div>
        </div>
    </div>
    <div id="flashbag" class="container">
        <div class="row">
            <div class="col-md-12">
                {% for message in app.session.flashbag.get('info') %}
                    <h4 class="titreSection">Message flash : {{ message }}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="afficheBeneficiaire" class="container">
        <!--<div class="row">
            <div class="col-md-12">
                <div class="url_agenda">
                    {#% if is_granted('ROLE_ADMIN') %#}
                        <a href="{#{ path('application_plateforme_agenda') }#}" target="_blank">Ajouter un evenement</a>
                    {#% elseif is_granted('ROLE_CONSULTANT') %#}
                        <a href="{#{ path('application_plateforme_agenda', {'userid':app.user.id}) }#}" target="_blank">Ajouter un evenement</a>
                    {#% endif %#}
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <div id="editBeneficiaire" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseFicheBeneficiaire" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseFicheBeneficiaire"><span class="glyphicon glyphicon-minus"></span><span>Fiche Bénéficiaire</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseFicheBeneficiaire">
                            <form action="{{ path('application_show_beneficiaire', { 'id':beneficiaire.id }) }}" method="POST" id="ficheBeneficiaireForm">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>{{ form_label(edit_form.dateConfMer) }}</td>
                                            <td>{{ form_widget(edit_form.dateConfMer) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.civiliteConso) }}</td>
                                            <td>{{ form_widget(edit_form.civiliteConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.nomConso) }}</td>
                                            <td>{{ form_widget(edit_form.nomConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.prenomConso) }}</td>
                                            <td>{{ form_widget(edit_form.prenomConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.poste) }}</td>
                                            <td>{{ form_widget(edit_form.poste) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.encadrement) }}</td>
                                            <td>{{ form_widget(edit_form.encadrement) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="tableSection">Coordonnées</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.telConso) }}</td>
                                            <td>{{ form_widget(edit_form.telConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.tel2) }}</td>
                                            <td>{{ form_widget(edit_form.tel2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.emailConso) }}</td>
                                            <td>{{ form_widget(edit_form.emailConso) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.email2) }}</td>
                                            <td>{{ form_widget(edit_form.email2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="tableSection">Adresse Bénéficiaire</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.adresse) }}</td>
                                            <td>{{ form_widget(edit_form.adresse) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.adresseComplement) }}</td>
                                            <td>{{ form_widget(edit_form.adresseComplement) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.ville.cp) }}</td>
                                            <td>{{ form_widget(edit_form.ville.cp) }}</td>
                                        </tr>
                                        {% if beneficiaire.ville is not null %}
                                            <tr>
                                                <td>{{ form_label(edit_form.ville.nom) }}</td>
                                                <td>{{ form_widget(edit_form.ville.nom,  {'attr': {'value': beneficiaire.ville.nom, 'text': beneficiaire.ville.nom}}) }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>{{ form_label(edit_form.ville.nom) }}</td>
                                                <td>{{ form_widget(edit_form.ville.nom ) }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td>{{ form_errors(edit_form.ville.nom) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.pays) }}</td>
                                            <td>{{ form_widget(edit_form.pays) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.numSecu) }}</td>
                                            <td>{{ form_widget(edit_form.numSecu) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_label(edit_form.dateNaissance) }}</td>
                                            <td>{{ form_widget(edit_form.dateNaissance) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ form_errors(edit_form) }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td class="valider">{{ form_widget(edit_form.submit) }}</td>
                                        </tr>
                                        <tr class="form-rest">
                                            <td>{{ form_rest(edit_form) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <div id="statut" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseStatut" data-toggle="collapse" onclick="plusMoins(this);" role="button" aria-expanded="false" aria-controls="collapseStatut"><span class="glyphicon glyphicon-minus"></span><span>Statut</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseStatut">
                            <table>
                                <tbody>
                                    <tr>
                                        {% if(beneficiaire.news | length > 0) %}
                                            {% set derniere_news = beneficiaire.news[beneficiaire.news | length -1] %}
                                        {% endif %}
                                        <td>Statut :</td>
                                        <td>{{ beneficiaire.news | length > 0 ? derniere_news.statut.nom : '' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Détail :</td>
                                        <td>{{ beneficiaire.news | length > 0 ? derniere_news.detailStatut.detail : '' }}</td>
                                    </tr>
                                    <tr>
                                        <td>Gestionnaire Administratif</td>
                                        <td>Select</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="ProjetBeneficiaire" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseProjetBeneficiaire" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseProjetBeneficiaire"><span class="glyphicon glyphicon-minus"></span><span>Projet Bénéficiaire</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseProjetBeneficiaire">
                            <form method="POST" id="projetEditForm" action="{{ path('application_projet_beneficiaire', { 'id' : beneficiaire.id }) }}" >
                                <table>
                                    <tbody>
                                        {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:projet",{'id': beneficiaire.id})) }}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
    {% if is_granted('ROLE_ADMIN') %}
                    <div id="accompagnement" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseAccompagnement" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseAccompagnement"><span class="glyphicon glyphicon-minus"></span><span>Accompagnement</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseAccompagnement">
                            <form method="POST" id="accompagnementEditForm" action="{{ path('application_edit_accompagnement', { 'id' : beneficiaire.id }) }}" >
                                <table>
                                    <tbody>
                                        {{ render(controller("ApplicationPlateformeBundle:Accompagnement:show",{'id': beneficiaire.id})) }}
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Changement de Consultant</h4>
                                    </div>
                                    <form action="{{ path('application_edit_consultant_beneficiaire', { 'id' : beneficiaire.id }) }}" method="post">
                                        {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:editConsultant",{'id': beneficiaire.id})) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
    {% endif %}
                    <div id="espaceDocumentaire" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a href="#collapseEspaceDocumentaire" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEspaceDocumentaire"><span class="glyphicon glyphicon-minus"></span><span>Espace Documentaire</span></a></caption>
                        </table>
                        <div class="collapse in" id="collapseEspaceDocumentaire">
                            <div>
                                <table class="table-condensed">
                                    <tbody>
                                    {% for document in beneficiaire.documents %}
                                        {% if 'pdf' in document.path %}
                                            {{ afficherDocument(beneficiaire, document.path) }}
                                            <tr>
                                                <td>{{ document.description }}</td>
                                                <td><a href="{{ asset('uploads/beneficiaire/documents/'~beneficiaire.id~'/'~document.path) }}" target="_blank"><span style="color: blue">voir le document</span></a></td>
                                                <td class="btn" width="100%">
                                                    <a href="{{ path('application_delete_document', { 'id': document.id }) }}">
                                                        <span style="color: black" class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td>{{ document.description }}</td>
                                                <td><a href="{{ path('application_show_document', { 'path' : document.path }) }}" target="_blank"><span style="color: blue">voir le document</span></a></td>
                                                <td class="btn" width="100%">
                                                    <a href="{{ path('application_delete_document', { 'id': document.id }) }}">
                                                        <span style="color: black" class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                            <div id="AjoutDocument" class="collapse in">
                                <form id="newDocumentsForm" action="{{ path('application_new_document', { 'id' : beneficiaire.id }) }}" method="POST" enctype="multipart/form-data">
                                    {{ render(controller("ApplicationPlateformeBundle:Document:new",{'id': beneficiaire.id})) }}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="satisfactionRecommandation" class="tableOnglet">
                        <table class="table-condensed">
                            <caption class="titreSection"><a href="#collapseSatisfationRecommandation" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSatisfactionRecommandation"><span class="glyphicon glyphicon-minus"></span><span>Satisfaction/Recommandation</span></a></caption>
                            <tbody class="collapse in" id="collapseSatisfationRecommandation">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sectionBeneficiaire">
                    <!-- ========= MAJ ======== -->
                    <div>
                        {#render(controller("ApplicationPlateformeBundle:Historique:agenda", {'id':beneficiaire.id}))#}
                    </div>
                    <div id="historique" class="tableOnglet">
                        <table>
                            <caption class="titreSection"><a  id="historiqueCollapse" href="#collapseHistorique" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseHistorique"><span class="glyphicon glyphicon-minus"></span><span>Historique</span></a></caption>
                        </table>
                        <div id="collapseHistorique" class="collapse in">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    {{ render(controller("ApplicationPlateformeBundle:Historique:showAll",{'beneficiaire': beneficiaire})) }}
                            </div>
                        </div>
                    </div>
    {% if is_granted('ROLE_ADMIN') %}
                    <div id="suiviAdministratif" class="tableOnglet">
                            <table>
                                <caption class="titreSection"><a id="suiviAdministratifCollapse" href="#collapseSuiviAdministratif" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSuiviAdministratif"><span class="glyphicon glyphicon-minus"></span><span>Suivi Administratif</span></a></caption>
                            </table>
                            <div class="collapse in" id="collapseSuiviAdministratif">
                                {{ render(controller("ApplicationPlateformeBundle:SuiviAdministratif:showAll",{'beneficiaire': beneficiaire})) }}

                                <form method="POST" id="suiviAdministratifNewForm" action="{{ path('application_new_suivi_administratif', { 'id' : beneficiaire.id }) }}" >
                                    <table>
                                        <tbody>
                                            {{ render(controller("ApplicationPlateformeBundle:SuiviAdministratif:new",{'id': beneficiaire.id})) }}
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                    </div>
    {% endif %}
                </div>
            </div>
        </div>
<!--
        <div class="row">
            <input type="button" value="tout valider" onclick="document.getElementById('ficheBeneficiaireForm').submit();
                                                                          document.getElementById('projetEditForm').submit();
                                                                          document.getElementById('accompagnementEditForm').submit();
                                                                          document.getElementById('suiviAdministratifNewForm').submit();">
        </div>
-->
        <div class="row">
            <div class="news col-md-12">
                <h4 class="titreSection">NEWS</h4>
                <div id="tabNews">
                    <ul>
                        <li><a href="#tabs-1">toutes les News</a></li>
                        <li><a href="#tabs-2">Ajouter une News</a></li>
                    </ul>
                    <div id="tabs-1">
                        {{ render(controller("ApplicationPlateformeBundle:News:showAll",{'beneficiaire': beneficiaire})) }}
                    </div>
                    <div id="tabs-2" class="col-md-3">
                        {{ render(controller("ApplicationPlateformeBundle:News:new",{'id': beneficiaire.id })) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}