<form action="{{ path('application_search_beneficiaire', { 'page' : 1 }) }}" method="POST" id="ajaxForm" >
    <div class="container-fluid">
        
        <div class="row">
            <span class="col-md-2">{{ form_widget(form.nomConso) }}</span>
            <span class="col-md-2">{{ form_widget(form.prenomConso) }}</span>
            <span class="col-md-2">{{ form_widget(form.emailConso) }}</span>
            
            {% set style = "display:none" %}
         	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %} {% set style = "display:block" %} {% endif %}
            <span style="{{ style }}"class="col-md-2">{{ form_widget(form.consultant) }}</span>
            <span class="col-md-1">{{ form_widget(form.refFinanceur, { 'attr': {'placeholder': 'Réf. Financeur' }}) }}</span>

            <span class="col-md-1">{{ form_widget(form.ville, { 'attr': {'placeholder': 'Ville de MenR' }}) }}</span>

            <span class="col-md-1">{{ form_widget(form.submit) }}</span>
            
            <a class='col-md-1 btn btn-default' href="{{ path('application_plateforme_homepage') }}">Reset</a>
            {{ form_rest(form) }}
        </div>
       
        <div class="row" id="rechercherPlus">
        </div>
{#
        <div class="row">
            <span id="plusMoins" class="btn plusMoins">affiner les résultats</span>
        </div>
#}
    </div>
</form>
        



