<div>
    <table>
        <caption> Resultat de la recherche </caption>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse Email</th>
            <th>Téléphone</th>
            <th>Ville</th>
        </tr>
        {% for beneficiaire in results %}
        <tr>
            <td>{{ beneficiaire.nomConso }}</td>
            <td>{{ beneficiaire.prenomConso }}</td>
            <td>{{ beneficiaire.emailConso }}<br>{{ beneficiaire.email2 }}</td>
            <td>{{ beneficiaire.telConso }}<br>{{ beneficiaire.tel2 }}</td>
            <td>{{ beneficiaire.ville.nom }}</td>
        </tr>
        {% endfor %}
    </table>
</div>