{% if historiques is not empty %}
     <table class="table table-striped table-historique">
           <tr>
              <th style="border:none;">Date</th>
              <th style="border:none;">Heure debut</th>
              <th style="border:none;">Heure fin</th>
              <th style="border:none;">Bureau</th>
              <th style="border:none;">Type Rdv</th>
           </tr>
           {% for historique in historiques %}
                <tr>
                    <td style="margin-top: 0px;margin-left: 0px; display: inline-block;width: 100%; border:none;">
                       {{historique.dateDebut|date('d/m/Y')}}
                    </td>    
                    <td style="border:none;">
                        <span >{{historique.heureDebut|date('h:m')}}</span>
                    </td>
                    <td style="border:none;">
                        <span >{{ historique.heureFin|date('h:m') }}</span>
                    </td>
                    <td style="border:none;">
                        {% if historique.bureau is not null %}
                            <span>
                               {{ historique.bureau.nombureau }}
                            </span>
                        {% else %}
                            <span>-</span>
                        {% endif %}
                    </td>
                    <td style="border:none;">
                        {% if historique.bureau is defined %}
                            <span> {{historique.typerdv}} </span>
                        {% else %}
                            <span>{{historique.typerdv}}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
     </table>
{% else %}
    <span style="margin-left: 6px;">Aucun rendez-vous</span>
{% endif %}



