
                {% for historique in beneficiaire.historique %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                <div>
                                    <span>{{ historique.dateDebut|date('d/m/Y') }}</span>
                                    <span>{{ historique.summary }}</span>
                                    <span>{{ historique.bureau.nom }}</span>
                                </div>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                        <div class="panel-body">
                            <div>
                                <p></p>
                                <p>du {{ historique.dateDebut|date('d/m/Y') }} à {{ historique.heureDebut|date('h:m') }}</p>
                                <p>jusqu'au {{ historique.dateFin|date('d/m/Y') }} à {{ historique.heureFin|date('h:m') }}</p>
                            </div>
                            <div style="display: inline">
                                <div>
                                    <span>lieu : </span>
                                    <span>{{ historique.bureau.nom }}</span>
                                    <span>{{ historique.bureau.adresse }}</span>
                                    <span>{{ historique.bureau.ville.cp }}</span>
                                    <span>{{ historique.bureau.ville.nom }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                    {#
                    <tr>
                        <td class="btn" width="100%">
                            <a href="{{ path('application_delete_historique', { 'id': historique.id }) }}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a href="{{ path('application_edit_historique', {'id': historique.id}) }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                    #}
                 {% endfor %}



