{% extends "::mail/layout.html.twig" %}
{% block ref %}{{ reference }}{% endblock %}
{% block contentMail %}
    Bonjour Audrey,
    <br>
    <br>
    {% if news|length > 1 %}
        Veuillez trouver ci-joint la liste des {{ news|length }} bénéficiaires dont le rendez-vous à été reporté la semaine passée.
    {% else %}
        Veuillez trouver ci-joint la liste de {{ news|length }} bénéficiaire dont le rendez-vous à été reporté la semaine passée.
    {% endif %}
    <br>
    {% for new in news %}
        <p style='margin-left:10px;'>&bull;
            <a href="https://appli.entheor.com/web/beneficiaire/show/{{  new.beneficiaire.id }}">
                {{ new.beneficiaire.civiliteConso|capitalize~' '~new.beneficiaire.prenomConso|capitalize~' '~new.beneficiaire.nomConso|capitalize}}
            </a> - {{ new.detailStatut.detail }}
        </p>
    {% endfor %}
    <br>
    <br>
    Merci de reprendre contact avec cette ou ces personnes sans délai.
    <br>
    Si malgré vos tentatives, vous n'avez pas pu les joindre ou prendre un nouveau rendez-vous, passer leur statut commercial en Abandon / No Show
{% endblock %}