{% extends "::mail/layout.html.twig" %}
{% block ref %}3{% endblock %}
{% block contentMail %}
    Bonjour, <br>
    <p>
        {{ beneficiaire.consultant.civilite|capitalize~' '~beneficiaire.consultant.prenom|capitalize~' '~beneficiaire.consultant.nom|capitalize~' ' }}
        a reçu le {{ date }} à {{ beneficiaire.villeMer.nom~' ' }}
        <b><a href="http://dev.application.entheor.com/web/beneficiaire/show/{{ beneficiaire.id }}" target="_blank">
            {{ beneficiaire.civiliteConso|capitalize~' '~beneficiaire.prenomConso|capitalize~' '~beneficiaire.nomConso|capitalize~' ' }}
        </a></b>
        <br>
        <span>Le dossier administratif peut donc être complété afin d'adresser la demande de financement.</span>
        <br>
        <span>Merci,</span>
        <br>
        <span>Christine Clément</span>
        <br>
        <a href="mailto:christine.clement@entheor.com">christine.clement@entheor.com</a>
        <br>
        <span>06 81 84 85 24</span>
    </p>
{% endblock %}