{% extends "ApplicationPlateformeBundle::layout.html.twig" %}
{% block title %}Agenda de {{ beneficiaire.consultant.prenom ~' '~beneficiaire.consultant.nom }}{% endblock%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
    {{ parent() }}
{% endblock %}

{% block body %}
<div id="flashbag" class="container">
    <div class="row">
        <div class="col-md-12">
            {% for message in app.session.flashbag.get('info') %}
                {% if message != 'not message' %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid calendar">
    <div class="row">
        <div class="col-md-12" id="dispo">
            <div class="row">
                <div class="col-sm-11 collapse" id="collapseDisponibilite">
                    {{ render(controller("ApplicationPlateformeBundle:Disponibilites:new",{'id': beneficiaire.consultant.id})) }}
                </div>
                <div class="col-sm-1" style="float: right">
                    <a href="#collapseDisponibilite" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseDisponibilite" class="btn btn-primary disponibilite">Vos disponiblités</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" id="iframe">
            <div class="row">
                <h2>Agenda de <span class="calendar_consultant">{{ beneficiaire.consultant.civilite~' '~beneficiaire.consultant.prenom ~' '~beneficiaire.consultant.nom }}</span></h2>
            </div>
            <div class="row">
                {{ beneficiaire.consultant.calendrieruri|raw }}
            </div>
            <div class="tableOnglet row">
                <table>
                    <caption class="caption_calendar">
                        <a href="#collapseAllDisponibilite" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseAllDisponibilite">
                            <span class="glyphicon glyphicon-plus" style="float: left"></span>
                            <span>Liste de vos disponibilités</span>
                        </a>
                    </caption>
                    <tbody class="collapse" id="collapseAllDisponibilite">
                        <tr>
                            <th>Date</th>
                            <th>Ville</th>
                            <th>Heure</th>
                            <th>Actions</th>
                        </tr>
                        {% for disponibilite in beneficiaire.consultant.disponibilite %}
                            {% if "now"|date('Ymd') < disponibilite.dateDebuts|date('Ymd') %}
                                <tr>
                                    <td>{{ disponibilite.dateDebuts|date("d/m/Y") }}</td>
                                    {% if disponibilite.ville is not null %}
                                        <td>{{ disponibilite.ville.nom~' ('~disponibilite.ville.cp~')' }}</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% if disponibilite.summary == 'Disponibilites' %}
                                        <td>de {{ disponibilite.dateDebuts|date('h')~'-'~disponibilite.dateFins|date('h') }}H</td>
                                    {% else %}
                                        <td>{{ disponibilite.summary }}</td>
                                    {% endif %}
                                    <td><span title="Supprimer la Disponibilité" style="cursor:pointer;" data-toggle="modal" data-target="#myModalDisponibiliteDelete{{ loop.index }}" class="glyphicon glyphicon-remove"></span></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% for disponibilite in beneficiaire.consultant.disponibilite %}
                    {% if "now"|date('Ymd') < disponibilite.dateDebuts|date('Ymd') %}
                        <div  class="modal fade" id="myModalDisponibiliteDelete{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Supprimer une Disponibilité</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <span>Confirmer la suppression de la disponibilité !</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="button" class="btn btn-default deleteBtn" data-dismiss="modal">Annuler</button>
                                            <a style="width: 95px;float: right" href="{{ path('application_delete_disponibilites', { 'id': disponibilite.id }) }}">
                                                <button class="btn btn-danger">Supprimer</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div id="" class="tableOnglet row">
                <table>
                    <caption class="caption_calendar"><a href="#collapseEvent" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEvent"><span class="glyphicon glyphicon-minus" style="float: left"></span><span>Ajouter un Rendez-Vous</span></a></caption>
                </table>
                <div class="collapse in" id="collapseEvent">
                    <h2>
                        Beneficiaire :<br>
                        <span class="calendar_consultant"><a title="Voir la fiche du bénéficiaire" alt="Voir la fiche du bénéficiaire" target="_blank" href="{{ path('application_show_beneficiaire', {'id': beneficiaire.id}) }}">{{ beneficiaire.civiliteConso~' '~beneficiaire.prenomConso|capitalize ~' '~beneficiaire.nomConso|capitalize }}</a></span>
                    </h2>
                    <form action="{{ path('application_add_evenement', { 'id' : beneficiaire.id }) }}" method="POST" id="form_admin_event">
                        <div>
                            {{ form_row(form.typerdv) }}
                        </div>
                        <div class="champs_erreur_css">
                            <div id="champ_bureau">
                                <div>
                                    {{ form_row(form.autreBureau) }}
                                </div>
                                <div>
                                    {{ form_row(form.ville) }}
                                </div>
                                <div style="display: none">
                                    {{ form_row(form.bureau) }}
                                </div>
                                <div>
                                    {{ form_row(form.nomBureau) }}
                                </div>
                                <div style="display: none">
                                    {{ form_row(form.beneficiaire) }}
                                </div>
                                <div class="champ_agenda">
                                    {{ form_row(form.adresseBureau) }}
                                    {{ form_row(form.cpBureau) }}
                                </div>
                            </div>
                            <div id="form_titre_evenement">
                                <div>
                                    {{ form_row(form.summary) }}
                                </div>
                                <div style="display: none" id="autre_summary">
                                    {{ form_widget(form.autreSummary) }}
                                </div>
                            </div>
                            <div>
                                {{ form_row(form.description) }}
                            </div>
                        </div>
                        <div>
                            {{ form_row(form.dateDebut) }}
                        </div>
                        <div class="champ_agenda" id="heure_debut_fin">
                            {{ form_row(form.heureDebut) }}
                            {{ form_row(form.heureFin) }}
                        </div>
                        <div id="error_slot_busy" style="color: red;display: none">
                            <span>Ce créneau n'est pas disponible</span>
                        </div>
                        <div>
                            {{ form_widget(form.eventId) }}
                            {{ form_widget(form.eventIdBureau) }}
                        </div>
                        <div class="valider">
                            {{ form_row(form.submit) }}
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
