{% extends "ApplicationPlateformeBundle::layout.html.twig" %}
{% block title %}Agenda - Administration{% endblock%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div id="" class="tableOnglet">
                    <table>
                        <caption class="titreSection"><a href="#collapseEvent" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEvent"><span class="glyphicon glyphicon-minus" style="float: left"></span><span>Ajouter un Rendez-Vous</span></a></caption>
                    </table>
                    <div class="collapse in" id="collapseEvent">
                        <form action="{{ path('application_admin_add_evenement') }}" method="POST" id="form_admin_event" onsubmit="getClient()">
                            <div class="champ_agenda">
                                {{ form_row(form.consultant) }}
                            </div>
                            <div class="champ_agenda">
                                {{ form_row(form.nom) }}
                                {{ form_row(form.prenom) }}
                            </div>
                            <div>
                                {{ form_row(form.typerdv) }}
                            </div>
                            <div id="champ_bureau">
                                <div>
                                    {{ form_row(form.ville) }}
                                </div>
                                <div style="display: none">
                                    {{ form_row(form.bureau) }}
                                </div>
                                <div style="display: none">
                                    {{ form_row(form.beneficiaire) }}
                                </div>
                                <div>
                                    {{ form_row(form.nomBureau) }}
                                </div>
                                <div class="champ_agenda">
                                    {{ form_row(form.adresseBureau) }}
                                    {{ form_row(form.cpBureau) }}
                                </div>
                            </div>
                            <div>
                                {{ form_row(form.summary) }}
                            </div>
                            <div>
                                {{ form_row(form.description) }}
                            </div>
                            <div>
                                {{ form_row(form.dateDebut) }}
                            </div>
                            <div class="champ_agenda">
                                {{ form_row(form.heureDebut) }}
                                {{ form_row(form.heureFin) }}
                            </div>
                            <div>
                                {{ form_row(form.submit) }}
                            </div>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-9" id="iframe">
                <div class="row">
                    <h2 id="nom_consultant"></h2>
                </div>
                <div class="row" id="agenda_consultant">
                    {# beneficiaire.consultant.calendrieruri|raw #}
                </div>
            </div>
        </div>
    </div>

{% endblock%}