{% extends "ApplicationPlateformeBundle::layout.html.twig" %}
{% block title %}Agenda - Administration{% endblock%}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/calendar.css') }}">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid calendar">
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
        <div class="row">
            {{ form(form_consultant) }}
        </div>
        <div id="admin_calendar" class="row">
            <div class="col-md-9" id="iframe">
                <div class="row">
                    <h2 id="nom_consultant"></h2>
                </div>
                <div class="row" id="agenda_consultant">
                    {# beneficiaire.consultant.calendrieruri|raw #}
                </div>
            </div>
            <div class="col-md-3">
                <div id="admin_formulaire_calendar" class="tableOnglet row">
                    <table>
                        <caption class="caption_calendar"><a href="#collapseEvent" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEvent"><span class="glyphicon glyphicon-minus" style="float: left"></span><span>Ajouter un Rendez-Vous</span></a></caption>
                    </table>
                    <div class="collapse in" id="collapseEvent">
    {% else %}
        <div class="row" style="display: none">
            <input id="admin_calendar_consultant_consultant" type="text" value="{{ app.user.id }}">
        </div>
        <div id="consultant_calendar" class="row">
            <div class="col-md-9" id="iframe">
                <div class="row">
                    <h2 id="nom_consultant">
                        Agenda de <span class="calendar_consultant">{{ app.user.nom|capitalize~' '~app.user.prenom|capitalize }}</span>
                    </h2>
                </div>
                <div class="row" id="agenda_consultant">
                    {{ app.user.calendrieruri|raw }}
                </div>
            </div>
            <div class="col-md-3">
                <div id="admin_formulaire_calendar" class="tableOnglet row">
                    <table>
                        <caption class="caption_calendar"><a href="#collapseEvent" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseEvent"><span class="glyphicon glyphicon-minus" style="float: left"></span><span>Ajouter un Rendez-Vous</span></a></caption>
                    </table>
                    <div class="collapse in" id="collapseEvent">
    {% endif %}
                        <form action="{{ path('application_admin_add_evenement') }}" method="POST" id="form_admin_event">
                            <div style="display: none">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_GESTION') %}
                                    {{ form_row(form.consultant) }}
                                {% else %}
                                    {{ form_widget(form.consultant, { 'attr': { 'value': app.user.id } }) }}
                                {% endif %}
                            </div>
                            <div class="champs_erreur_css">
                                <div class="champ_agenda">
                                    {{ form_row(form.nom) }}
                                    {{ form_row(form.prenom) }}
                                </div>
                            </div>
                            <div>
                                {{ form_row(form.typerdv) }}
                            </div>
                            <div class="champs_erreur_css">
                                <div id="champ_bureau">
                                    <div>
                                        {{ form_row(form.autreBureau) }}
                                    </div>
                                    <div>
                                        {{ form_row(form.ville) }}
                                    </div>
                                    <div style="display: none">
                                        {{ form_row(form.bureau) }}
                                    </div>
                                    <div style="display: none">
                                        {{ form_row(form.beneficiaire) }}
                                    </div>
                                    <div>
                                        {{ form_row(form.nomBureau) }}
                                    </div>
                                    <div class="champ_agenda">
                                        {{ form_row(form.adresseBureau) }}
                                        {{ form_row(form.cpBureau) }}
                                    </div>
                                </div>
                                <div id="form_titre_evenement">
                                    <div>
                                        {{ form_row(form.summary) }}
                                    </div>
                                    <div style="display: none" id="autre_summary">
                                        {{ form_widget(form.autreSummary) }}
                                    </div>
                                </div>
                                <div>
                                    {{ form_row(form.description) }}
                                </div>
                            </div>
                            <div>
                                {{ form_row(form.dateDebut) }}
                            </div>
                            <div class="champ_agenda" id="heure_debut_fin">
                                {{ form_row(form.heureDebut) }}
                                {{ form_row(form.heureFin) }}
                            </div>
                            <div id="error_slot_busy" style="color: red;display: none">
                                <span>Ce créneau n'est pas disponible</span>
                            </div>
                            <div class="valider">
                                {{ form_row(form.submit) }}
                            </div>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}